<template>
  <main>
    <q-card>
      <div class="text-h6"><q-icon name="person" />Departments</div>
      <div>
        <apexchart
          height="260"
          type="donut"
          :options="options"
          :series="series"
        ></apexchart>
      </div>
    </q-card>
  </main>
</template>

<script>
export default {
  name: 'DepartmentsCharts',
  data() {
    return {
      options: {
        labels: ['Account ', 'IT', 'HR', 'Clearance'],
        colors: ['#5F2EEA', '#30F5C6', '#FF7070', '#FFD789'],

        legend: {
          position: 'left',
          fontSize: '15px',

          formatter: function(labels) {
            return [labels, 'Mr. John Doe'];
          }
        }
      },

      series: [5, 8, 13, 4]
    };
  }
};
</script>

<style></style>
