<template>
  <main>
    <q-card class="q-mt-lg">
      <div class="text-h6"><q-icon name="person" />Employees</div>
      <div>
        <apexchart
          height="120"
          type="donut"
          :options="options"
          :series="series"
        ></apexchart>
      </div>
    </q-card>
  </main>
</template>

<script>
export default {
  name: 'Employeeschart',
  data() {
    return {
      options: {
        labels: ['Male ', 'Female'],
        colors: ['#5F2EEA', '#FF86C7'],
        dataLabels: {
          enabled: false
        },
        legend: {
          position: 'left'
        }
      },

      series: [100000, 52000]
    };
  }
};
</script>

<style></style>
