<template>
  <main>
    <q-card class="q-mx-lg">
      <div class="text-h6">
        <q-icon name="person" />No. of Employees by Year
      </div>
      <div>
        <apexchart
          width="400"
          type="bar"
          :options="options"
          :series="series"
        ></apexchart>
      </div>
    </q-card>
  </main>
</template>

<script>
export default {
  name: 'EmployeeByYearChart',
  data() {
    return {
      options: {
        colors: ['#5F2EEA'],
        xaxis: {
          categories: ['2016', '2017', '2018', '2019']
        },
        yaxis: {
          title: {
            text: 'No. of employee'
          }
        },
        dataLabels: {
          enabled: false
        }
      },

      series: [{ data: [10, 20, 30, 40] }]
    };
  }
};
</script>

<style></style>
