<template>
  <main class="screen q-pa-lg">
    <q-card>
      <AddPurchaseForm title="Add Purchase Transaction" />
      <PurchaseOrderItems />
    </q-card>
  </main>
</template>

<script>
import AddPurchaseForm from '../AddPurchaseTransaction/AddPurchaseForm.vue';

import PurchaseOrderItems from '../AddPurchaseTransaction/Purchase.OrderItems.vue';

export default {
  components: {
    AddPurchaseForm,
    PurchaseOrderItems
  }
};
</script>

<style></style>
