<template>
  <q-card class='bg-white q-pa-sm  column' bordered flat>
    <div class='text-h5 q-mb-md'>
      Day book
    </div>
    <q-separator />
    <div class='column justify-between q-gutter-y-md'>
      <div class='flex justify-between'>
        <div class='text-subtitle1 text-weight-medium'>Opening Balance</div>
        <div class='text-subtitle1 text-primary text-bold'>{{ incomeExp.opening }}</div>
      </div>
      <section>
        <div class='text-bold text-h6'>Expenses</div>
        <div class='flex justify-between'>
          <span class='subtitle1'>cash</span>
          <div class='text-bold'>{{ incomeExp.Cash }}</div>
        </div>
        <div class='flex justify-between'>
          <span class='subtitle1'>Bank</span>
          <div class='text-bold'>{{ incomeExp.Bank }}</div>
        </div>
      <div class='flex justify-between'>
          <span class='subtitle1'>Salary</span>
          <div class='text-bold'>{{ incomeExp.Salary}}</div>
        </div>
      </section>
      <section>
      <div class='text-bold text-h6'> Incomes</div>
        <div class='flex justify-between'>
          <span class='subtitle1'>Credit</span>
          <div class='text-bold'>{{ incomeExp.Credit }}</div>
        </div>
      </section>
    </div>
    <q-space />
    <div class='row justify-between'>
      <div class='text-subtitle1 text-weight-medium'>Closing Balance</div>
      <div class='text-subtitle1 text-primary text-bold'>{{ incomeExp.closingBalance }}</div>
    </div>
  </q-card>
</template>
<script>
import { mapActions, mapState } from 'vuex';
import { CREDIT_ACCOUNTS, DEBIT_ACCOUNTS } from '../../../utils/BooksOfAccountCategorization';

export default {
  data() {
    return {
      debitList: [],
      creditList: [],
      openingBalance: 0,
      incomeExp:'',
    };
  },
  computed: {
    ...mapState('booksOfAccount', ['listOfAccounts', 'openingClosing']),
    ...mapState('transaction', ['listOfTransactions']),
    debitAccounts() {
      return DEBIT_ACCOUNTS;
    },
    creditAccounts() {
      return CREDIT_ACCOUNTS;
    },
    totalDebitBalance() {
      return this.debitList.reduce((prev, curr) => {
        return prev + curr.balance;
      }, 0);
    },
    totalCreditBalance() {
      return this.creditList.reduce((prev, curr) => {
        return prev + curr.balance;
      }, 0);
    },
    closingBalance() {
      return this.openingBalance + this.totalCreditBalance - this.totalDebitBalance;
    }
  },
  async created() {
    await Promise.all([this.loadOpeningClosing()]);
  },
  watch: {
    listOfAccounts(val) {
      this.debitList = val.filter(v => this.debitAccounts.includes(v.name.toLowerCase().replace(/\s/g, '')));
      this.creditList = val.filter(v => this.creditAccounts.includes(v.name.toLowerCase().replace(/\s/g, '')));
      this.openingBalance = val.filter(v => v.name.replace(/\s/g, '').toLowerCase() === 'openingbalance')[0]?.balance;
      return val;
    },
    openingClosing(val) {
      this.incomeExp = {
        'opening': val?.opening || '--',
        'Salary':val?.Salary||'--',
        'Cash': val?.Cash||'--',
        'Bank': val?.Bank||'--',
        'Credit':val?.Credit||'--',
        'closingBalance':val?.closingBalance||'--',
      };
    },
    listOfTransactions(){
      this.loadOpeningClosing();
    }

  },
  methods: {
    ...mapActions('booksOfAccount', ['loadOpeningClosing'])
  }
};
</script>
