<template>
  <div class='pos-content-panel q-pa-md row q-col-gutter-lg  overflow-auto cursor-pointer'>
    <div class='col-md-3' v-for='(data, key) in selectedItems' :key='key'>
      <POSCard :item='data' />
    </div>
  </div>
</template>
<script>
import POSCard from './PosCard.pos';

export default {
  name: 'ContentPanel',
  components: { POSCard },
  props: {
    reqData: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      selectedItems:'',
    };
  },
  watch:{
    reqData: {
      handler: function (val) {
        this.selectedItems=val;
      },
      deep:true,
      immediate:true
    },
  },
};
</script>
