<template>
  <q-card class='pos-card' @click='addToSelectedItems'>
    <div class=' items-center'>
      <div class=' q-pa-md bg-blue-2 row'>
        <div class='pos-card-title text-weight-medium text-h6 col-md-10 '>{{ item.name }}</div>
      </div>
      <div class='q-pa-md  row justify-between items-center'>
        <div class='q-gutter-y-xs'>
          <div class='text-body1 row'>
            <div> Stock:</div>
            <div class='q-pl-sm'>{{ availableStock(item.quantity, item.orderQty) }} </div>
          </div>
        <div class='pos-card-price text-h6'>Rs.{{ item.price }}</div>
        </div>

        <div class=''>
          <q-avatar
            size='md'
            color='blue-9'
            class='float-right'
            v-if='item.orderQty>0'
            text-color='white'
          >
            {{ item.orderQty }}
          </q-avatar>
        </div>
      </div>
    </div>
  </q-card>
</template>
<script>
import { mapMutations } from 'vuex';

export default {
  props: {
    item: {
      type: Object,
      default: () => {
      }
    }
  },
  name: 'POSCard',
  methods: {
    ...mapMutations('pos', ['pushToSelectedItems']),
    addToSelectedItems() {
      this.pushToSelectedItems({ id: this.item.id, value: 1 });
    },

    availableStock(stock,orderQty){
      return stock-orderQty;
    }
  },
  computed:{
  }
};
</script>
<style lang='scss' scoped>
.pos-card {
  .pos-card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.image-section {
  object-position: center;
  /* object-fit: contain; */
  object-fit: cover;
}
</style>
