<template>
  <section>
    <q-card
      bordered
      flat
      class="pos-list-item row items-center q-pa-sm q-mb-sm"
    >
      <div class="list-item-image">
      </div>
      <div class="col-grow q-px-md">
        <div class="q-mb-xs">{{ item.name.slice(0, 12) }}</div>
        <div class="flex items-center row q-gutter-x-md">`
          <q-btn
            round
            size="xs"
            color="dark"
            text-color="white"
            @click="addToSelectedItems(-1)"
            >-</q-btn
          >
            <q-input class='col-md-2' label='QTY' v-model='qty' @change='changeQty' />
           <q-btn
            round
            size="xs"
            color="primary"
            text-color="white"
            @click="addToSelectedItems(1)"
            >+</q-btn
          >
        </div>
      </div>
      <q-input label='Price' v-model='price' />
      <div>
        <q-input
          outlined
          label="Rs."
          class="q-ma-lg"
          disable
          :value="total"
        />
      </div>
      <q-btn
        icon="delete"
        size="sm"
        color="red-8"
        text-color="white"
        round
        @click="confirmDelete=true"
      />
    </q-card>

    <q-dialog v-model="confirmDelete" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <span class="q-ml-sm">Do you want to delete this item?</span>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="Cancel" color="red" v-close-popup />
          <q-btn flat label="Delete" color="red" @click="addToSelectedItems(0)" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </section>
</template>
<script>
import { mapMutations } from 'vuex';
export default {
  name: 'POSListItem',

  data() {
    return {
      deleteItemState: false,
      confirmDelete:false,
      qty:this.item.quantity,
      price:this.item.price
    };
  },
  props: {
    item: {
      type: Object,
      default: () => {}
    }
  },
 watch:{

   item: {
     handler: function (val) {
       this.qty=val.quantity;
     },
     immediate: true,
     deep:true
   },
   price(){
     this.$emit('invetoryChanges',this.price );
   }
 },
  methods: {
    ...mapMutations('pos', ['pushToSelectedItems']),
    changeQty(){
      this.pushToSelectedItems({id:this.item.id, value: parseInt(this.qty)});
    },
    addToSelectedItems(val) {
      this.pushToSelectedItems({ id: this.item.id, value: val });
    },
  },
  computed: {
    total: function() {
      let totalAmount = this.item.price * this.price;
      return totalAmount;
    },
  }
};
</script>
<style lang="scss">
.pos-list-item {
  img {
    height: 50px;
    width: 50px;
    border-radius: 4px;
  }
}
</style>
