<template>
  <q-card bordered class='right-side-pos' flat q-pa-sm>
    <div class='text-h5 q-pa-sm'>
      Order no. #001
    </div>
    <section class='order-list q-pa-sm'>
      <q-card
        bordered
        flat
        class='pos-list-item row items-center q-pa-sm q-mb-sm'
        v-for='(item,index) in itemsList'
        :key='index'
      >
        <div class='col-grow q-px-md'>
          <div class='q-mb-xs'>{{ item.name.slice(0, 12) }}</div>
          <div class='row q-col-gutter-sm'>
            <div class='col-md-4'>
              <div class='row items-center'>
                <q-btn
                  round
                  icon='remove'
                  size='xs'
                  color='dark'
                  text-color='white'
                  @click='addToSelectedItems(item.id,-1)'
                />
                <q-input class='col-md-7 q-px-sm' label='QTY' v-model='item.orderQty'
                         @change='changeQty(item.id,item.orderQty)' />
                <q-btn
                  icon='add'
                  round
                  size='xs'
                  color='primary'
                  text-color='white'
                  @click='addToSelectedItems(item.id,1)'
                />
              </div>

            </div>
            <div class='col-md-3'>
              <q-input label='Price' v-model='item.unitPrice' @change='changePrice(item.id,item.unitPrice)' />
            </div>
            <div class='col-md-3'>
              <q-input
                outlined
                class='text-bold'
                label='Total'
                v-model='item.total'
                @change='changeTotal(item.id,item.total)'
              />
            </div>
            <div class='col-md-2 row items-lg-center justify-center'>
              <q-btn
                icon='delete'
                size='sm'
                color='red-8'
                text-color='white'
                round
                @click='deleteItem(item.id)'
              />
            </div>

          </div>
        </div>

      </q-card>

      <q-dialog v-model='confirmDelete' persistent>
        <q-card>
          <q-card-section class='row items-center'>
            <span class='q-ml-sm'>Do you want to delete this item?</span>
          </q-card-section>
          <q-card-actions align='right'>
            <q-btn flat label='Cancel' color='red' @click='delId=null' v-close-popup />
            <q-btn flat label='Delete' color='red' @click='addToSelectedItems(delId,0)' v-close-popup />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </section>
    <section>
      <div class=' amounts-area q-pa-sm q-gutter-y-xs'>
        <div class='row text-body1'>
          <div class='col-md-8'>Sub-total</div>
          <div class='col-md-4 text-right'>Rs. {{ subtotal }}</div>
        </div>
        <div class='row justify-between items-center text-body1'>
          <div class='col-md-8'>VAT</div>
          <q-toggle
            v-model='vat'
            checked-icon='check'
            color='green'
            unchecked-icon='clear'
          />
        </div>
        <div class='row justify-between text-body1' v-if='vat'>
          <div class='col-md-8'>VAT (13%)</div>
          <div>Rs. {{ vatAmt }}</div>
        </div>
        <div class='row text-body1'>
          <div class='col-md-8'>Net Total</div>
          <div class='col-md-4 text-right'>Rs. {{ netTotal }}</div>
        </div>
        <div class='row items-center justify-between text-body1'>
          <div class='col-md-8'>Discount Amount</div>
          <div class='col-md-3 col-grow'>
            <q-input
              outlined
              label='Rs'
              class=''
              type='number'
              dense
              filled
              v-model='discountAmt'
            />
          </div>
        </div>
        <div class='row items-center justify-between text-body1'>
          <div class='col-md-8'>Amount Paid</div>
          <div class='col-md-3 col-grow'>
            <q-input
              outlined
              label='Rs'
              class=''
              type='number'
              dense
              filled
              v-model='amtPaid'
            />
          </div>
        </div>
        <div class='row items-center justify-between text-body1'>
          <div class='col-md-8'>Amount Due</div>
          <div class='col-md-3 col-grow'>
            <q-input
              label='Rs'
              class=''
              type='number'
              dense
              disable
              v-model='amtDue'
            />
          </div>
        </div>
        <div class='row text-h5 text-weight-bold'>
          <div class='col-md-8'>Total</div>
          <div class='col-md-4 text-right'>Rs. {{ total }}</div>
        </div>
        <q-btn label='Checkout' class='full-width q-mt-md' @click='printBill' color='grey-6' />
      </div>
    </section>
    <q-dialog v-model='confirmSales' class='full-width'>
      <div class='bg-white q-pa-md  full-width '>
        <q-form @submit.prevent='confirmBill' class='q-gutter-y-md'>
          <div class='row justify-between q-col-gutter-sm'>

            <q-select
              class='col-md-8'
              v-model='receiver'
              use-input
              input-debounce='0'
              label='Select Reciever'
              :options='recipientNames'
              map-options
              ref="recipientName"
              emit-value
              dense
              outlined
              >
              <template v-slot:no-option>
                <q-item>
                  <q-item-section class='text-grey'>
                    No results
                  </q-item-section>
                </q-item>
              </template>
            </q-select>
            <q-select filled v-model="payMethod" ref="paymentMethod" class='col-md-4' :options="payOptions" label="Payment Method" dense :rules="[val => !!val || 'Payemnt method is required']" />
          </div>
          <q-input outlined label='Remarks' v-model='remarks' type='textarea'    />
          <q-btn label='Confirm' class='full-width q-mt-md' type='submit' color='green' />
        </q-form>

      </div>
    </q-dialog>
  </q-card>

</template>
<script>
import { errorNotify } from 'src/utils/notify';
import { mapActions, mapMutations, mapState } from 'vuex';

export default {
  name: 'RightSideBa',
  data() {
    return {
      payMethod:'',
      payOptions:['CASH','BANK','ONLINE','CREDIT'],
      remarks: '',
      receiver: '',
      discount: false,
      vat: false,
      discountAmt: null,
      amtPaid: null,
      confirmSales: false,
      deleteItemState: false,
      confirmDelete: false,
      delId: null,
      recipientNames: []
    };
  },
  async created() {
    await Promise.all([this.loadRecipientName()]);
  },
  watch: {
    listOfUser(val) {
      this.recipientNames = val.map(v =>
        ({
          label: v.name,
          value: v._id
        })
      );
    }
  },
  computed: {
    ...mapState('pos', ['selectedItems']),
    ...mapState('user', ['listOfUser']),
    amtDue() {
      let v = this.amtPaid ? this.total - this.amtPaid : '';
      return v;
    },
    netTotal() {
      if (this.vat) {
        return this.subtotal + this.vatAmt;
      } else {
        return this.subtotal;
      }
    },
    itemsList() {
      let reqItems = this.selectedItems.filter(v => v.orderQty > 0);
      reqItems = reqItems.map(v => (
        {
          id: v.id,
          name: v.name,
          price: v.price,
          inventory: v.inventory,
          orderQty: v.orderQty,
          total: v.total ? v.total : v.price * v.orderQty,
          unitPrice: v.unitPrice ? v.unitPrice : v.price
        }
      ));
      return reqItems;
    },
    subtotal() {
      let reqSubtotal = 0;
      this.itemsList.forEach(v => {
        reqSubtotal += v.total;
      });
      return reqSubtotal;
    },
    vatAmt() {
      return this.subtotal * 0.13;
    },
    total() {
      let reqVal = this.discountAmt ? this.netTotal - this.discountAmt : this.netTotal;
      return reqVal;
    }
  },
  methods: {
    ...mapMutations('pos', ['pushToSelectedItems', 'setPrice', 'deleteItems', 'setTotal']),
    ...mapActions('bill', ['addBill']),
    ...mapActions('user', [ 'loadRecipientName']),
  async confirmBill() {
      let reqOrderItem = this.itemsList.map(v => ({
        'inventory': v.id,
        'rate': v.unitPrice,
        'quantity': v.orderQty,
        'total': v.total
      }));

      let reqVal = {
        'receiver': this.receiver,
        'orderItems': reqOrderItem,
        'balance':parseInt(this.total)|| 1,
        'tax':parseInt(this.vatAmt) || 1,
        'discount':parseInt(this.discountAmt) || 1,
        'method': this.payMethod,
        'totalAmountPaid':parseInt(this.amtPaid) || 1,
        'remarks': this.remarks
      };
      this.confirmSales=false;
      try {
    await this.addBill(reqVal)
    {
      this.receiver='';
      this.payMethod='';
    };
      } catch (error) {
        errorNotify('could not add data',error)
      }finally{
        this.$refs.recipientName.resetValidation();
        this.$refs.paymentMethod.resetValidation();
      }

    },
    deleteItem(id) {
      this.confirmDelete = true;
      this.delId = id;
    },

    changeQty(id, qty) {
      this.pushToSelectedItems({ id: id, value: parseInt(qty) });
    },
    changePrice(id, price) {
      this.setPrice({ id: id, value: parseInt(price) });
    },
    changeTotal(id, total) {
      this.setTotal({ id: id, val: parseInt(total) });
    },
    addToSelectedItems(id, val) {
      this.pushToSelectedItems({ id: id, value: val });
    },
    printBill() {
      if (this.itemsList == '')
      {
        errorNotify('Please choose the items first')

      }
      else{
      this.confirmSales = true;
      }
    },
    // inventoryChanges(val) {
    // }
  }
};
</script>
<style lang='scss'>
.right-side-pos {
  height: calc(100vh - 60px) !important;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;

  .order-list {
    flex: 1;
    overflow: auto;
  }
}

</style>
