<template>
  <div class='full-height overflow-auto'>
    <q-tabs
      v-model='tab'
      dense
      class='text-dark bg-white pos-tab-headers'
      active-color='primary'
      indicator-color='primary'
      align='left'
      narrow-indicator
    >
      <q-tab name='ALL' label='All' />
      <q-tab name='RAW' label='Raw' />
      <q-tab name='PRODUCT' label='Product' />
    </q-tabs>

    <q-separator />

    <q-tab-panels v-model='tab' animated class='col-grow full-height
'>
      <q-tab-panel name='ALL' class='overflow-auto'>
        <div class='text-h6 q-pl-md'>All Product</div>
        <ContentPanel :reqData='reqData' />
      </q-tab-panel>

      <q-tab-panel name='RAW'>
        <div class='text-h6 q-pl-md'>Raw Product</div>
        <ContentPanel :reqData='reqData' />
      </q-tab-panel>

      <q-tab-panel name='PRODUCT'>
        <div class='text-h6 q-pl-md'>Product</div>
        <ContentPanel :reqData='reqData' />
      </q-tab-panel>
    </q-tab-panels>
  </div>
</template>
<script>
import ContentPanel from './ContentPanel.pos';
import { mapActions, mapState } from 'vuex';

export default {
  name: 'POSTab',
  components: { ContentPanel },
  data() {
    return {
      tab: 'ALL',
      allData:'',
      storeData:'',
      rawData:this.selectedItems,
      productData:'',
      reqData: [],
    };
  },
  computed: {
    ...mapState('pos', ['selectedItems']),
  },
  watch:{
    tab:{
      immediate: true,
      handler:'changeDataType',
    },
    selectedItems: {
      handler:'changeDataType',
      deep:true,
    },
  },
 async created(){
   if(!this.selectedItems.length){
     await this.loadItems();
   }
  },

  methods: {
    ...mapActions('pos',['loadItems']),
    changeDataType(){
      if(!this.selectedItems.length){
        return 0;
      }
      this.reqData =  (this.tab == 'ALL' ? this.selectedItems : this.selectedItems.filter(v => v.type == this.tab) )|| [];
    }
  },
};
</script>
<style>
.pos-tab-headers {
  position: sticky;
  top: 0;
  z-index: 2;
}
</style>
