<template>
  <q-card class='full-height q-pa-md'>
    <div class='text-h6 q-pb-md'>Category</div>
    <q-form @submit.prevent='addNewCategory' class='row q-gutter-xs-y-md'>
      <div class='col-md-9 col-xs-12'>
        <q-input v-model='name' label='Enter name' outlined dense   :rules="notRequired ? [val => !!val || 'Name is required']:[]" />
      </div>
      <q-space/>
      <div>
        <q-btn icon='add' round color='primary' type='submit'/>
      </div>
    </q-form>

    <q-list class='q-mt-md'>
      <q-item v-for='(cat,key) in category' :key='key'>
        <q-item-section class=''>
          <div class='flex justify-between items-center'>
            <div>
              {{ cat.name }}
            </div>
            <div class='action-area'>
              <q-btn icon='edit' color='primary' round size='sm' @click="confirmEditBox(cat)"/>
              <q-btn class='q-ml-xs' icon='delete' color='primary' outline round size='sm' @click='deleteSelectedCategory(cat.id)'/>
            </div>
          </div>
        </q-item-section>
      </q-item>
    </q-list>
    <q-dialog v-model='confirm'>
      <q-card class='q-pa-md'>
        <div class='text-h6'>Are you sure you want to delete</div>
        <div class='flex justify-end q-mt-lg'>
          <q-btn @click='deleteConfirm' color='primary'>Confirm</q-btn>
          <q-btn class='q-ml-xs' @click='confirm=false' color='primary' outline>Cancel</q-btn>
        </div>
      </q-card>
    </q-dialog>
    <q-dialog v-model='confirmEdit'>
      <q-card class='q-pa-md'>
        <div class='text-h6'>Edit Account</div>
        <q-form class='column full-width q-mt-lg' @submit.prevent='editSelectedRow'>
          <div class='col-md-12 col-sm-6'>
            <q-input v-model='editObj.name' label='Name' outlined dense />
          </div>
          <div class='col-md-2 col-sm-2 text-right q-mt-md'>
            <q-btn color='primary' type='submit'>Confirm</q-btn>
          </div>
        </q-form>
      </q-card>
    </q-dialog>
  </q-card>
</template>
<script>
import { mapActions, mapState } from 'vuex';

export default {
  name: 'BooksOfCategory',
  data() {
    return {
      notRequired:false,
      name: '',
      balance: '',
      selectedId: -1,
      editObj: {
        name: '',
        _id: -1
      },
      confirm: false,
      confirmEdit: false,
      columns: [
        {
          name: 'name',
          required: true,
          label: 'Name',
          align: 'left',
          field: row => row.name,
          format: val => `${val}`,
          sortable: true
        },
        { name: 'price', align: 'center', label: 'Price', field: 'price', sortable: true },
        { name: 'quantity', align: 'center', label: 'Quantity', field: 'quantity', sortable: true },
        { name: 'minQuantity', align: 'center', label: 'Min quantity', field: 'minQuantity', sortable: true },
        { name: 'actions', align: 'center', label: 'Actions', field: 'actions', sortable: true }
      ],
      rows: [
        { name: 'Salary', balance: 0 },
        { name: 'Prepaid Salary', balance: 2000 },
        { name: 'Stationery', balance: 3000 },
        { name: 'Salary', balance: 0 }
      ],
      category: []
    };
  },
  computed: {
    ...mapState('category', ['listOfCategory'])
  },
  watch: {
    listOfCategory(newVal) {
      this.category = newVal;
    }
  },
  async mounted() {
    await this.loadAllCategory();
  },
  methods: {
    ...mapActions('category', ['loadCategory', 'addCategory', 'deleteCategory', 'editCategory']),
    async loadAllCategory() {
      await this.loadCategory();
    },
    async addNewCategory() {
      await this.addCategory({
        name: this.name,
      });
      this.name='';
      await this.loadCategory();
    },
    async deleteConfirm() {
      if (this.selectedId !== -1) {
        await this.deleteCategory(this.selectedId);
        await this.loadAllCategory();
        this.confirm = false;
      }
    },
    async confirmEditBox(row) {
      this.editObj = {...row};
      this.confirmEdit = true;
    },
    async editSelectedRow() {
      if (this.editObj.id !== -1) {
        await this.editCategory(this.editObj);
        await this.loadAllCategory();
        this.editObj = {
          id: -1,
          name: '',
          balance: 0
        };
        this.confirmEdit = false;
      }
    },
    async deleteSelectedCategory(id) {
      this.confirm = true;
      this.selectedId = id;
    }
  }
};
</script>
