<template>
  <main>
    <div class="text-h5 q-ml-lg">Order Items</div>
    <div class="row items-center q-pl-lg">
      <div class="col-3">
        <q-select
          filled
          label="Enter material"
          v-model="order.material"
          :options="option1"
        />
      </div>
      <div class="col-1">
        <q-input
          filled
          label="Quantity"
          class="q-ma-lg"
          type="number"
          v-model="order.quantity"
        />
      </div>

      <div class="col-2">
        <q-input
          filled
          label="Rate"
          class="q-ma-lg"
          type="number"
          v-model="order.rate"
        />
      </div>
      <div>
        <q-input filled label="Amount" class="q-ma-lg" disable :value="total" />
      </div>
      <q-btn
        color="primary"
        padding="12px 20px"
        size="16px"
        label="ADD ITEM"
        @click="addSaleItems(order)"
      />
    </div>

    <div class="q-pa-md">
      <q-table :data="data" :columns="columns" row-key="index" flat>
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td :props="props.col" v-for="row in props.row" :key="row.id">
              {{ row }}
            </q-td>
            <q-td class="row justify-end ">
              <q-btn color="primary" round dense icon="edit" class="q-mr-md" />
              <q-btn
                color="primary"
                round
                dense
                icon="delete"
                @click="deleteItem(props.row.__ob__.dep.id)"
              />
            </q-td>
          </q-tr>
        </template>
      </q-table>
    </div>
    <div class="row ">
      <div class="column col-6 q-pl-md">
        <q-input
          filled
          label="Remark"
          v-model="amountDetails.Remark"
          type="textarea"
        />
      </div>
      <div class="column col-6 q-pl-xl ">
        <div class="q-pb-lg">
          <div class="row items-center text-h6 justify-between">
            VAT
            <q-toggle v-model="amountDetails.vat" />
          </div>
        </div>
        <div
          class="row items-center q-pb-lg justify-between "
          v-if="amountDetails.vat"
        >
          <div class="text-h6">VAT number</div>
          <div>
            <q-input
              filled
              label="Vat number"
              v-model="amountDetails.vatNumber"
            />
          </div>
        </div>

        <div class="row items-center q-pb-lg justify-between ">
          <div class="text-h6">Product Total</div>
          <div class="text-h6">
            {{ productSum }}
          </div>
        </div>
        <div
          class="row items-center q-pb-lg justify-between "
          v-if="amountDetails.vat"
        >
          <div class="text-h6">VAT Amount (13%)</div>
          <div class="text-h6">{{ vatAmount }}</div>
        </div>
        <div class="row items-center q-pb-lg justify-between">
          <div class="text-h6 ">Net Total</div>
          <div class="text-h6">{{ netTotal }}</div>
        </div>
        <div class="row items-center q-pb-lg justify-between">
          <div class="text-h6">Amount Paid</div>
          <div>
            <q-input filled label="Amount" v-model="amountDetails.amountPaid" />
          </div>
        </div>
        <div class="row items-center q-pb-lg justify-between">
          <div class="text-h6 ">Amount Due</div>
          <div class="text-h6">{{ amountDue }}</div>
        </div>
      </div>
    </div>
    <q-separator />
    <div class="q-my-lg">
      <div class="row col-12 justify-end ">
        <div class="col-5">
          <q-select
            color="black"
            filled
            label="Payment Method"
            class="q-mb-md"
            v-model="amountDetails.Payment"
            :options="option2"
          />
        </div>
        <div class="q-ml-lg">
          <q-btn color="primary" label="SAVE" padding="15px 30px" />
        </div>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  name: 'SalesOrderItems',
  data() {
    return {
      order: {
        material: '',
        quantity: '',
        rate: '',
        amount: ''
      },
      amountDetails: {
        vat: false,
        vatNumber: '',
        Remark: '',
        productSum: '',
        vatAmount: '',
        amountPaid: '',
        amountDue: '0',
        Payment: 'CASH'
      },
      option2: ['CASH', 'CREDIT', 'CHEQUE'],
      option1: ['chocolate', 'Noodles', 'Fruits', 'Egg'],
      columns: [
        {
          name: 'name ',
          label: 'Name',
          field: 'name',
          align: 'left'
        },
        {
          name: 'quantity ',
          align: 'left',
          label: 'Quantity',
          field: 'quantity'
        },
        { name: 'rate ', align: 'left', label: 'Rate', field: 'rate' },
        {
          name: 'totalAmount ',
          align: 'left',
          label: 'Total Amount',
          field: 'totalAmount'
        },
        { name: ' action ', label: 'Action', field: 'action' }
      ],
      data: []
    };
  },

  methods: {
    addSaleItems(order) {
      this.data.push({
        name: order.material,
        quantity: order.quantity,
        rate: order.rate,
        amount: this.total
      });
    },
    deleteItem(index) {
      let filterList = this.data.filter(function(value) {
        return value.__ob__.dep.id != index;
      });
      this.data = filterList;
    }
  },
  computed: {
    total: function() {
      let calculatedTotal = this.order.quantity * this.order.rate;
      return calculatedTotal;
    },
    productSum: function() {
      let sum = 0,
        i;
      for (i = 0; i < this.data.length; i++) {
        sum = this.data[i].amount + sum;
      }
      return sum;
    },
    vatAmount: function() {
      if (this.amountDetails.vat == true) {
        let afterVat = 0.13 * this.productSum;
        return afterVat;
      } else {
        return 0;
      }
    },

    netTotal: function() {
      if (this.vatAmount) {
        let netTotalAmount = this.productSum + this.vatAmount;
        return netTotalAmount;
      } else {
        let netTotalAmount = this.productSum + 0;
        return netTotalAmount;
      }
    },
    amountDue: function() {
      let amountdue = this.netTotal - this.amountDetails.amountPaid;
      return amountdue;
    }
  }
};
</script>

<style></style>
