<template>
  <main class="flex justify-center q-mt-xl">
    <q-card class="add-inventory-content q-pa-lg ">
      <q-card-section>
        <div class="text-h5">Add Inventory</div>

        <div class="q-pt-lg">
          <q-input
            color="black"
            v-model="inventory.name"
            filled
            label="Enter material name"
          >
            <template v-slot:prepend>
              <q-icon name="event" />
            </template>
          </q-input>
        </div>
        <div class="q-pt-lg">
          <q-input
            color="black"
            v-model="inventory.quantity"
            filled
            label="Enter quantity"
          >
            <template v-slot:prepend>
              <q-icon name="event" />
            </template>
          </q-input>
        </div>
        <div class="q-pt-lg">
          <q-input
            color="black"
            v-model="inventory.rate"
            filled
            label="Enter rate"
          >
            <template v-slot:prepend>
              <q-icon name="event" />
            </template>
          </q-input>
        </div>
        <div class="q-pt-lg">
          <q-select
            filled
            label="Select material"
            v-model="inventory.selectMaterial"
            ><template v-slot:prepend> <q-icon name="event" /> </template
          ></q-select>
        </div>
        <div class="q-pt-lg">
          <q-select
            filled
            label="Select category"
            v-model="inventory.selectCategory"
            ><template v-slot:prepend> <q-icon name="event" /> </template
          ></q-select>
        </div>
        <div class="q-pt-lg">
          <q-input
            color="black"
            v-model="inventory.minimum"
            filled
            label="Enter min quantity"
          >
            <template v-slot:prepend>
              <q-icon name="event" />
            </template>
          </q-input>
        </div>
        <div class="row justify-end q-pt-lg">
          <div>
            <q-btn class="q-pa-xs" color="primary">SAVE</q-btn>
          </div>
          <div>
            <q-btn
              class="q-pa-xs q-ml-sm"
              outline
              style="color: primary"
              label="CANCEL"
            />
          </div>
        </div>
      </q-card-section>
    </q-card>
  </main>
</template>

<script>
export default {
  name: 'AddInventory',
  data() {
    return {
      inventory: {
        name: '',
        quantity: '',
        rate: '',
        selectMaterial: '',
        selectCategory: '',
        minimum: ''
      }
    };
  }
};
</script>

<style></style>
