<template>
  <main class="full-width q-gutter-sm">
    <div class="row justify-between">
      <div class="text-h5">{{ heading }}</div>
      <div>
        <q-btn
          color="primary"
          rounded
          icon="add"
          dense
          @click="addCategory = true"
        />
      </div>
    </div>

    <div>
      <q-card class=" no-shadow">
        <q-card-section>

          <div
            class="row justify-between col-8 items-center"
            v-for="a in categoryData"
            :key="a.name"
          >
            <div>{{ a.name }}</div>
            <div>{{ a.quantity }}</div>

            <div class="flex justify-end">
              <div>
                <q-btn flat color="primary" dense icon="edit" class="q-mr-md" />
              </div>
              <div>
                <q-btn
                  flat
                  dense
                  icon="delete"
                  @click="deleteItem(a.__ob__.dep.id)"
                />
              </div>
            </div>
            <q-separator />
          </div>
        </q-card-section>
      </q-card>
    </div>

    <q-dialog v-model="addCategory">
      <q-card class=" q-pa-lg ">
        <div class="text-h5">Add Category</div>

        <div class="q-pt-lg">
          <q-input
            color="black"
            filled
            label="Enter category name"
            v-model="category.name"
          >
          </q-input>
        </div>
        <div class="q-pt-lg">
          <q-input
            color="black"
            filled
            type="number"
            label="Enter category quantity"
            v-model="category.quantity"
          >
          </q-input>
        </div>
        <div class="row justify-end q-pt-lg">
          <div>
            <q-btn
              class="q-pa-xs q-mr-sm"
              outline
              style="color: primary"
              label="CANCEL"
              v-close-popup
            />
          </div>
          <div>
            <q-btn class="q-pa-xs" color="primary" @click="save(category)"
              >SAVE
            </q-btn>
          </div>
        </div>
      </q-card>
    </q-dialog>
  </main>
</template>

<script>
import category from 'src/store/modules/category';
import { mapActions, mapState } from 'vuex';
export default {
  name: 'category',

  data() {
    return {
      addCategory: false,
      successMessage: '',
      category: {
        name: '',
        quantity: ''
      },
      categoryInformation: []
    };
  },
  props: {
    heading: {
      type: String
    }
  },
  computed: {
    ...mapState('category', ['categoryData'])
  },

  created() {
    this.saveCategory();
  },
  methods: {
    ...mapActions('category', ['saveCategory', 'deleteItem']),

    save(category) {
      this.saveCategory(category);
      (this.category.name = ''), (this.category.quantity = '');
    }
  }
};
</script>

<style></style>
