<template>
  <main>
    <div class="q-pa-sm">
      <q-table :data="data" :columns="columns" row-key="index" flat>
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td>
              <q-btn
                :icon="!idShow ? 'expand_more' : 'expand_less'"
                round
                dense
                color="primary"
                @click="idShow = !idShow"
              />
            </q-td>
            <q-td :props="props.col" v-for="row in props.row" :key="row.id">
              {{ row }}
            </q-td>
          </q-tr>
        </template>
      </q-table>
    </div>
  </main>
</template>

<script>
export default {
  name: 'TableAddStocks',
  data() {
    return {
      idShow: '',
      columns: [
        {
          name: 'name',
          required: true,
          label: 'Products',
          align: 'left',

          sortable: true
        },

        {
          name: 'Created ',
          label: 'Created Date',
          field: 'Created',
          align: 'left',
          sortable: true
        },
        {
          name: 'Quantity',
          label: 'Quantity ',
          field: 'Quantity',
          align: 'left',
          sortable: true
        },
        { name: 'Unit', align: 'left', label: 'Unit', field: 'Unit' },
        {
          name: 'TotalAmount',
          align: 'left',
          label: 'Total Amount',
          field: 'TotalAmount'
        }
      ],
      data: [
        {
          name: 'C Momo',
          Created: '2078 - 2 - 9',
          Quantity: 5,
          TotalAmount: 3500
        },
        {
          name: 'Fry Momo',
          Created: '2078 - 2 - 15',
          Quantity: 3,
          TotalAmount: 1500
        }
      ]
    };
  }
};
</script>

<style></style>
