<template>
    <q-card class="q-pa-sm full-height">
      <div class="text-h6">
        <q-icon name="insights" /> Employee Salary Graph
      </div>
      <apexchart
        type="area"
        height="150"
        :options="option"
        :series="series"
      ></apexchart>
    </q-card>
</template>
<script>
export default {
  name: 'SalaryDistribution',
  data() {
    return {
      option: {
        stroke: {
          curve: 'straight'
        },
        colors: ['#5F2EEA'],
        xaxis: {
          categories: [
            'Jan',
            'Feb',
            'Mar',
            'Apr',
            'May',
            'Jun',
            'Jul',
            'Aug',
            'Sep',
            'Oct',
            'Nov',
            'Dec'
          ]
        },
        yaxis: {
          title: {
            text: 'Amount'
          }
        },
        dataLabels: {
          enabled: false
        }
      },
      series: [
        {
          name: 'series1',
          data: [31, 40, 28, 51, 42, 109, 100]
        }
      ]
    };
  }
};
</script>
