<template>
    <q-card class="q-pa-sm full-height">
      <div class="">
        <q-icon name="local_atm" size='md' class='q-pr-sm'/>
        <label class='text-subtitle1'>Total salary of this month</label>
      </div>
      <div>
        <apexchart
          height="150"
          type="donut"
          :options="options"
          :series="series"
        ></apexchart>
      </div>
    </q-card>
</template>
<script>
export default {
  name: 'TotalSalary',
  data() {
    return {
      options: {
        labels: ['Paid ', 'Due'],
        colors: ['#5F2EEA', '#FF86C7'],
        dataLabels: {
          enabled: false
        },
        legend: {
          position: 'left',
          fontSize: '15px'
        }
      },

      series: [100000, 52000]
    };
  }
};
</script>
