<template>
  <main class='q-pa-xl'>
    <q-card class='q-pa-md'>
      <div class='text-h6 q-pl-md q-pb-md'>Add Books Of Account</div>
      <q-form class='row full-width q-col-gutter-md' @submit.prevent='addNewAccount'>
        <div class='col-md-4 col-sm-4'>
          <q-input ref='bookName' v-model='bookOfAccount.name' label='Name' outlined dense
                   :rules=" [val => !!val || 'Name is required']" />
        </div>
        <div class='col-md-4 col-sm-4'>
          <q-input type='number' ref='bookBalance' v-model='bookOfAccount.balance' label='Balance' outlined dense
                   :rules="[val => !!val || 'Balance is required']" />
        </div>
        <div class=' text-right'>
          <q-btn color='primary' type='submit' label='Add'/>
        </div>
      </q-form>
    </q-card>
    <q-card class='q-mt-md q-pa-md'>
      <div class='text-h6 q-pl-md'>Books Of Account</div>
      <div class='q-pa-md'>
        <q-table
          :data='accounts'
          :columns='columns'
          :rows-per-page-options='[10]'
          row-key='index'
          flat
        >
          <q-td
            key='actions'
            slot='body-cell-actions'
            slot-scope='props'
            :props='props'
          >
            <q-btn
              round
              color='primary'
              icon='edit'
              @click='confirmEditBox(props.row)'
            />
            <q-btn
              round
              color='primary'
              icon='delete'
              @click='deleteSelectedAccount(props.row._id)'
            />
          </q-td>
        </q-table>
      </div>
      <q-dialog v-model='confirm'>
        <q-card class='q-pa-md'>
          <div class='text-h6'>Are you sure you want to delete</div>
          <div class='flex justify-end q-mt-lg'>
            <q-btn @click='deleteConfirm' color='primary'>Confirm</q-btn>
            <q-btn class='q-ml-xs' @click='confirm=false' color='primary' outline>Cancel</q-btn>
          </div>
        </q-card>
      </q-dialog>
      <q-dialog v-model='confirmEdit'>
        <q-card class='q-pa-md'>
          <div class='text-h6'>Edit Account</div>
          <q-form class='column full-width q-mt-lg' @submit.prevent='editSelectedRow'>
            <div class='col-md-12 col-sm-6'>
              <q-input v-model='editObj.name' label='Name' outlined dense />
            </div>
            <div class='col-md-12 col-sm-4 q-mt-md'>
              <q-input v-model='editObj.balance' label='Balance' type='number' outlined dense />
            </div>
            <div class='col-md-2 col-sm-2 text-right q-mt-md'>
              <q-btn color='primary' type='submit'>Confirm</q-btn>
            </div>
          </q-form>
        </q-card>
      </q-dialog>
    </q-card>
  </main>
</template>
<script>
import moment from 'moment';
import { mapActions, mapState } from 'vuex';
import { nepToEng } from '../utils/nepToEngDateConvert';
import booksOfAccount from 'src/store/modules/booksOfAccount';
import { errorNotify } from 'src/utils/notify';

const bookOfAccount = {
  name: '',
  balance: ''
};
export default {
  name: 'BooksOfAccount',
  components: {},
  data() {
    return {
      notRequired: false,
      bookOfAccount: { ...bookOfAccount },
      editObj: {
        name: '',
        balance: 0,
        _id: -1
      },
      selectedId: -1,
      confirm: false,
      confirmEdit: false,
      columns: [
        {
          name: 'createdAt', align: 'left', label: 'Date', field: 'createdAt',
          format: val => nepToEng(moment(val).format('YYYY-MM-DD'), 'nep'),
          sortable: true
        },
        {
          name: 'name',
          required: true,
          label: 'Name',
          align: 'left',
          field: row => row.name,
          format: val => `${val}`,
          sortable: true
        },
        { name: 'balance', align: 'center', label: 'Balance', field: 'balance', sortable: true },
        { name: 'actions', align: 'center', label: 'Actions', field: 'actions', sortable: true }
      ],
      accounts: []
    };
  },
  computed: {
    ...mapState('booksOfAccount', ['listOfAccounts'])
  },

  watch: {
    listOfAccounts(newVal) {    
      this.accounts = newVal;
    },
  },

  async mounted() {
    await this.loadAllAccounts();
  },
  methods: {
    ...mapActions('booksOfAccount', ['loadAccounts', 'addAccount', 'deleteAccount', 'editAccount']),
    async loadAllAccounts() {
      await this.loadAccounts();
    },
    async addNewAccount() {
      try {
        await this.addAccount({
          name: this.bookOfAccount.name,
          balance: Number(this.bookOfAccount.balance)
        });
      } catch (error) {
        errorNotify('Could not add account', error);
      } finally {
        this.bookOfAccount = { ...booksOfAccount };
        await this.loadAccounts();
        this.$refs.bookName.resetValidation();
        this.$refs.bookBalance.resetValidation();
      }
    },
    async deleteConfirm() {
      if (this.selectedId !== -1) {
        this.confirm = 'false';
        await this.deleteAccount(this.selectedId);
        await this.loadAllAccounts();
        this.selectedId = -1;
      }
    },
    async confirmEditBox(row) {
      this.editObj = { ...row };
      this.confirmEdit = true;
    },
    async editSelectedRow() {
      if (this.editObj._id !== -1) {
        await this.editAccount(this.editObj);
        await this.loadAllAccounts();
        this.editObj = {
          id: -1,
          name: '',
          balance: 0
        };
        this.confirmEdit = false;
      }
    },
    async deleteSelectedAccount(id) {
      this.selectedId = id;
      this.confirm = true;
    }
  }
};
</script>
<style lang='scss' scoped>
.nepali-date {
  .datepicker {
    .calendar {
      right: 0;
    }

    input {
      background-color: white;
      border: 1px solid black;
      padding: 14px 8px;
      border-radius: 4px;

      &:focus,
      &:active {
        outline: none;
        border-bottom: 2px solid #008b8b;
      }
    }
  }
}
</style>
