<template>
  <main class='row q-col-gutter-md q-px-md   q-mt-xs-md'>
    <div class='col-md-12  col-xs-12'>
      <q-card class='bg-white q-pa-sm col-md-10 col-xs-12 q-mx-md' flat bordered>
        <div class='row'>
          <div class='text-h5 text-weight-medium q-pl-md'>Records of Bills</div>
          <q-space />
          <div class='text-subtitle1 q-pb-lg col-md-2'>
            <q-select label='Select Period' outlined v-model='period'
                      :options='["Today","This Week","This Month", "All"]' />
          </div>
        </div>
        <q-table :columns='columns' :data='rows' :rows-per-page-options='[12]'>
          <template v-slot:header='props'>
            <q-tr :props='props'>
              <q-th auto-width />
              <q-th
                v-for='col in props.cols'
                :key='col.name'
                :props='props'
              >
                {{ col.label }}
              </q-th>
            </q-tr>
          </template>
          <template v-slot:body='props'>
            <q-tr :props='props'>
              <q-td auto-width>
                <q-btn size='sm' color='accent' round dense @click='props.expand = !props.expand'
                       :icon="props.expand ? 'expand_less' : 'expand_more'" />
              </q-td>
              <q-td key='date' :props='props'>{{ props.cols[0].value }}</q-td>
              <q-td key='receiver' :props='props'>{{ props.row.receiver }}</q-td>
              <q-td key='tax' :props='props'>{{ props.row.tax }}</q-td>
              <q-td key='discount' :props='props'>{{ props.row.discount }}</q-td>
              <q-td key='method' :props='props'>{{ props.row.method }}</q-td>
              <q-td key='amtPaid' class='cursor-pointer' :props='props'>{{ props.row.amtPaid }}
                <q-popup-edit v-model='updatePayDialog' title='Update Amount Paid'>
                  <q-form class='q-gutter-y-md' @submit.prevent='updateAmt(props.row.amtPaid,props.row.id)'>
                    <q-input type='number' label='Amount Paid' v-model='props.row.amtPaid' dense autofocus />
                    <q-input type='number' label='Discount in Amount Paid' v-model='discountInPaid' dense autofocus />
                    <q-select filled v-model='payMethod' class='col-md-4' :options='payOptions' label='Payment Method'
                              dense :rules="notRequired ?[val => !!val || 'receiver is required']:[]" />
                    <q-btn label='update' color='primary' type='submit' />
                  </q-form>
                </q-popup-edit>
              </q-td>
              <q-td key='balance' :props='props'>{{ props.row.balance }}</q-td>
              <q-td key='remarks' :props='props'>{{ props.row.remarks }}</q-td>
              <q-td key='actions' :props='props'>
                <div class='row q-gutter-x-sm'>
                  <q-btn
                    round
                    color='primary'
                    icon='edit'
                    @click="$router.push('/billEdit/' + props.row.id)"
                  />
                  <q-btn
                    round outline
                    color='primary'
                    icon='delete'
                    @click='deleteSelectedTransaction(props.row.id)'
                  />
                </div>
              </q-td>
            </q-tr>
            <q-tr v-show='props.expand' :props='props'>
              <q-td colspan='100%'>
                <q-table title='Order Items' flat :columns='orderColumns' :data='props.row.orderItems'
                         :rows-per-page-options='[4]'>
                </q-table>
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </q-card>
    </div>
    <q-dialog v-model='confirm'>
      <q-card class='q-pa-md'>
        <div class='text-h6'>Are you sure you want to delete</div>
        <div class='flex justify-end q-mt-lg'>
          <q-btn @click='deleteConfirm' color='primary'>Confirm</q-btn>
          <q-btn class='q-ml-xs' @click='confirm=false' color='primary' outline>Cancel</q-btn>
        </div>
      </q-card>
    </q-dialog>
    <q-dialog v-model='confirmEdit'>
      <q-card class='q-pa-md'>
        <div class='text-h6'>Edit Transaction</div>
        <q-form class='column full-width q-mt-lg' @submit.prevent='editSelectedRow'>
          <div class='col-md-12 col-sm-6 col-xs-12'>
            <q-input v-model='editObj.particulars' label='Particulars' outlined dense />
          </div>
          <div class='col-md-12 col-sm-4 q-mt-md col-xs-12'>
            <q-select
              v-model='editObj.debit'
              use-input
              input-debounce='0'
              label='Receiver'
              :options='accounts'
              map-options
              @filter='filterFn'
              dense
              outlined
            >
              <template v-slot:no-option>
                <q-item>
                  <q-item-section class='text-grey'>
                    No results
                  </q-item-section>
                </q-item>
              </template>
            </q-select>
          </div>
          <div class='col-md-12 col-sm-4 q-mt-md'>
            <q-select outlined v-model='editObj.credit'
                      input-debounce='0'
                      map-options
                      :options='creditOptions' label='Credit'
                      dense
            />
          </div>
          <div class='col-md-12 col-sm-4 q-mt-md'>
            <q-input v-model='editObj.balance' label='Balance' outlined dense />
          </div>
          <div class='col-md-2 col-sm-2 text-right q-mt-md'>
            <q-btn color='primary' type='submit'>Confirm</q-btn>
          </div>
        </q-form>
      </q-card>
    </q-dialog>
  </main>
</template>
<script>
import { mapActions, mapState } from 'vuex';
import moment from 'moment';
import DayBookBalances from '../components/modules/DayBook/DayBookBalances';
import { nepToEng } from '../utils/nepToEngDateConvert';

export default {
  data() {
    return {
      updatePayDialog: false,
      payMethod: 'Cash',
      discountInPaid: 0,
      payOptions: ['CASH', 'BANK', 'ONLINE', 'CREDIT'],
      allDate: '',
      notRequired: false,
      selectedId: -1,
      confirm: false,
      confirmEdit: false,
      period: 'Today',
      debit: '',
      credit: '',
      balance: 0,
      editObj: {
        debit: '',
        credit: '',
        balance: 0,
        _id: -1,
        particulars: ''
      },
      rows: [],
      accounts: [],
      orderColumns: [

        {
          name: 'sno',
          required: true,
          label: 'S.NO',
          align: 'left',
          field: 'sno',
          sortable: true
        },
        {
          name: 'createdAt',
          required: true,
          label: 'Date',
          align: 'left',
          format: val => nepToEng(moment(val).format('YYYY-MM-DD'), 'nep'),
          field: 'createdAt',
          sortable: true
        }, {
          name: 'inventory',
          required: true,
          label: 'Name',
          align: 'center',
          format: val => val.name,
          field: 'inventory',
          sortable: true
        }, {
          name: 'rate',
          required: true,
          label: 'Rate',
          align: 'right',
          field: 'rate',
          sortable: true
        },
        {
          name: 'quantity',
          required: true,
          label: 'Quantity',
          align: 'right',
          field: 'quantity',
          sortable: true
        },
        { name: 'balance', align: 'right', label: 'Balance', field: 'balance', sortable: true }
      ],

      columns: [
        {
          name: 'date', align: 'left', label: 'Date', field: 'date',
          format: val => nepToEng(moment(val).format('YYYY-MM-DD'), 'nep'),
          sortable: true
        },
        {
          name: 'receiver',
          required: true,
          label: 'Receiver',
          align: 'center',
          field: 'receiver',
          sortable: true
        },{
          name: 'tax',
          required: true,
          label: 'Tax',
          align: 'right',
          field: 'tax',
          sortable: true
        },
        {
          name: 'discount',
          required: true,
          label: 'Discount',
          align: 'right',
          field: 'discount',
          sortable: true
        },
        {
          name: 'method',
          required: true,
          label: 'Method',
          align: 'center',
          field: 'method',
          sortable: true
        },
        {
          name: 'amtPaid',
          required: true,
          label: 'Amount Paid',
          align: 'right',
          field: 'amtPaid',
          sortable: true
        },
        { name: 'balance', align: 'right', label: 'Balance', field: 'balance', sortable: true },
        { name: 'remarks', align: 'center', label: 'Remarks', field: 'remarks', sortable: true },
        { name: 'actions', align: 'center', label: 'Actions', field: 'actions', sortable: true }
      ],
      creditOptions: []
    };
  },
  computed: {
    ...mapState('bill', ['listOfBills']),

    today() {
      return moment(new Date()).format('MMM DD, YYYY');
    }
  },
  watch: {
    listOfBills(val) {
      this.allDate = Object.keys(val);
      let reqDate = this.allDate.filter(v => moment(new Date(v)).format('MMM DD, YYYY') === this.today);
      this.rows = this.finalReqVal(reqDate);
    },
    period(val) {
      if (val === 'Today') {
        this.rows = this.allDate.filter(v => moment(new Date(v)).format('MMM DD, YYYY') === this.today);
        this.rows = this.finalReqVal(this.rows);
      } else if (val === 'This Week') {
        this.rows = this.allDate.filter(v => moment(new Date(v)).isBetween(moment(new Date()).startOf('week'), moment(new Date()).endOf('week')));
        this.rows = this.finalReqVal(this.rows);
      } else if (val === 'This Month') {
        this.rows = this.allDate.filter(v => moment(new Date(v)).isBetween(moment(new Date()).startOf('month'), moment(new Date()).endOf('month')));
        this.rows = this.finalReqVal(this.rows);
      } else {
        this.rows = this.finalReqVal(this.allDate);
      }
    }
  },
  methods: {
    ...mapActions('bill', ['loadBill', 'addBill', 'deleteBill', 'editBill', 'updateAmtPaid']),
    async updateAmt(val, id) {
      let reqData = {
        _id: id,
        paymentAmount: parseInt(val),
        'paymentType': this.payMethod.toUpperCase(),
        'discountAmount': this.discountInPaid || 0
      };
      await this.updateAmtPaid(reqData);
      await this.loadBill();
      this.discountInPaid = 0;
    },
    finalReqVal(val) {
      
      const filteredDate = this.allDate
        .filter(key => val.includes(key))
        .reduce((obj, key) => {
          obj[key] = this.listOfBills[key];
          return obj;
        }, {});
      
      let totalReqData = [];
      let reqVal = Object.values(filteredDate);
      
      reqVal.forEach(data => {
        let tempData = data.map(rowData => ({
          date: rowData?.createdAt,
          balance: rowData?.balance,
          id: rowData?._id,
          tax: rowData?.tax,
          particulars: rowData?.particulars,
          discount: rowData?.discount,
          remarks: rowData?.remarks || '---',
          method: rowData?.method,
          amtPaid: rowData?.totalAmountPaid,
          receiver: rowData?.receiver?.name || '---',
          orderItems: rowData?.orderItems.map((data, index) => ({
            ...data,
            balance: data?.total || data.rate * data.quantity,
            sno: index + 1
          }))
        }));
        totalReqData = totalReqData.concat(tempData);
      });
      return totalReqData;
    },
    filterItems(val) {
      let reqVal;
      this.accounts.forEach(check => {
        if (check?.value === val) {
          reqVal = {
            label: check.label,
            value: check.value
          };
        }
      });
      return reqVal;
    },
    filterFn(val, update) {
      if (val === '') {
        update(() => {
          this.accounts = this.listOfAccounts.filter(v => v._id !== this.credit).map(v => ({
            label: v.name,
            value: v._id
          }));
        });
        return;
      }
      update(() => {
        const needle = val.toLowerCase();
        this.accounts = this.listOfAccounts.filter(v => v.name.toLowerCase().indexOf(needle) > -1 && v._id !== this.credit).map(v => ({
          label: v.name,
          value: v._id
        }));
      });
    },

    async deleteConfirm() {
      if (this.selectedId !== -1) {
        this.confirm = false;
        await this.deleteBill(this.selectedId);
        await this.loadBill();
      }
    },
    async confirmEditBox(row) {
      this.editObj = {
        particulars: row.particulars,
        bill: row.bill,
        credit: row.credit,
        debit: row.debit,
        _id: row.id,
        balance: row.balance
      };
      this.confirmEdit = true;
    },
    async editSelectedRow() {
      let reqData = {
        'particulars': this.editObj.particulars,
        'balance': parseInt(this.editObj.balance),
        '_id': this.editObj._id,
        'debit': this.editObj.debit.value,
        'credit': this.editObj.credit.value
      };
      if (this.editObj._id !== -1) {
        await this.editTransaction(reqData);
        await this.loadBill();
        this.confirmEdit = false;
      }
    },
    async deleteSelectedTransaction(id) {
      this.confirm = true;
      this.selectedId = id;
    }
  },
  async created() {
    await Promise.all([this.loadBill()]);
  }
};
</script>
