<template>
  <main class='full-height overflow-auto q-px-md'>
    <q-form class='full-width q-pa-md full-height'>
      <div>
        <div class='row justify-between q-py-md'>
          <div class='text-h5'>
            Edit Bill
          </div>
        </div>
        <div class='q-py-sm'>
          <div class='row q-pb-lg q-col-gutter-md justify-between'>
            <q-select
              class='col-md-3'
              v-model='reqBill.receiver'
              use-input
              input-debounce='0'
              label='Select Receiver'
              :options='recipientNames'
              map-options
              ref='recipientName'
              dense
              outlined
              :rules="  [val => !!val || 'receiver is required']">
              <template v-slot:no-option>
                <q-item>
                  <q-item-section class='text-grey'>
                    No results
                  </q-item-section>
                </q-item>
              </template>
            </q-select>
          </div>
        </div>
      </div>
      <div>
        <div class='text-h6 q-mb-md'>
          Order Items
        </div>
      </div>
      <q-form
        @submit.prevent='addToOrderList'
        class='input-area row items-xs-end q-mb-md'
      >
        <div class='col-md-8 col-sm-8'>
          <div class='row q-col-gutter-sm'>
            <q-select
              v-model='addItem.name'
              use-input
              input-debounce='0'
              label='Select Inventory'
              :options='filteredList'
              map-options
              emit-value
              @filter='filterFn'
              @blur='changeValues'
              dense
              outlined
              :rules="[val => !!val || 'Debit field is required']"
            >
              <template v-slot:no-option>
                <q-item>
                  <q-item-section class='text-grey'>
                    No results
                  </q-item-section>
                </q-item>
              </template>
            </q-select>
            <q-input
              v-model='addItem.qty'
              type='number'
              :rules="[val => !!val || 'Quantity  is required']"
              dense
              filled
              label='Quantity'
              class='col-md-3 col-sm-3 col-xs-4'
            />
            <q-input
              v-model='addItem.rate'
              :rules="[val => !!val || 'Rate  is required']"
              type='number'
              dense
              filled
              label='Rate'
              class='col-md-2 col-xs-6 col-sm-6'
            />
            <q-input
              v-model='itemTotal'
              type='number'
              :rules="[val => !!val || 'Amount  is required']"
              dense
              filled
              label='Amount'
              class='col-md-3 col-xs-6 col-sm-6'
            />
          </div>
        </div>
        <div class='col-md-4 col-sm-4 flex q-px-md q-mb-lg'>
          <q-btn label='Add Item' color='primary' type='submit' />
        </div>
      </q-form>
      <q-dialog v-model='confirm' persistent>
        <q-card flat class='flex column items-center'>
          <q-card-section class='flex column  items-center items-center'>
            <span class='q-ml-sm'> You donot have Enough Quantity. </span
            ><span>Are you sure you want to add this quantity?.</span>
          </q-card-section>

          <q-card-actions align='right'>
            <q-btn
              flat
              label='Cancel'
              color='primary'
              v-close-popup
            />
            <q-btn unelevated label='Add' color='primary' v-close-popup />
          </q-card-actions>
        </q-card>
      </q-dialog>
      <q-table :data='reqBill.orderItems' :columns='columns' flat row-key='name'>
        <q-td
          key='actions'
          slot='body-cell-actions'
          slot-scope='props'
          :props='props'
        >
          <q-btn
            round
            color='primary'
            icon='edit'
            class='q-mr-sm'
            @click='setEditOrderItem(props.row)'
          />

          <q-btn
            round
            outline
            color='primary'
            icon='delete'
            @click='deleteItemList(props.row._id)'
          />
        </q-td>
      </q-table>
      <q-dialog v-model='confirmEdit'>
        <q-card class='q-pa-md'>
          <div class='text-h6'>Edit Transaction</div>
          <q-form class='column full-width q-mt-lg' @submit.prevent='editSelectedRow'>
            <div class='col-md-12 col-sm-4 q-mt-md col-xs-12'>
              <q-select
                v-model='editItem.inventory'
                use-input
                input-debounce='0'
                label='Select Inventory'
                :options='filteredList'
                map-options
                @filter='filterFn'
                @blur='changeValues'
                dense
                outlined
                :rules="[val => !!val || 'Debit field is required']"
              >
                <template v-slot:no-option>
                  <q-item>
                    <q-item-section class='text-grey'>
                      No results
                    </q-item-section>
                  </q-item>
                </template>
              </q-select>
            </div>
            <div class='col-md-12 col-sm-4 q-mt-md'>
              <q-input v-model='editItem.quantity' label='Quantity' outlined dense />
            </div>
            <div class='col-md-12 col-sm-4 q-mt-md'>
              <q-input v-model='editItem.rate' label='Rate' outlined dense />
            </div>
            <div class='col-md-12 col-sm-4 q-mt-md'>
              <q-input v-model='editItem.total' label='Total' outlined dense />
            </div>
            <div class='col-md-2 col-sm-2 text-right q-mt-md'>
              <q-btn color='primary' type='submit'>Confirm</q-btn>
            </div>
          </q-form>
        </q-card>
      </q-dialog>
      <div class='row q-my-md q-col-gutter-lg '>
        <div class='col-md-6 col-lg-6 col-sm-6 col-xs-12'>
          <q-input v-model='reqBill.remarks' filled type='textarea' label='Remarks' />
        </div>


      </div>
      <q-separator />
      <div class='row justify-end items-center q-col-gutter-lg q-py-md'>
        <div class=' row col-2 justify-end justify-between q-px-md-xl'>
          <div class='col-md-6'>
            <q-btn class='full-width bg-white text-primary' @click="$router.push('/bill')"
            >Cancel
            </q-btn>
          </div>
          <div class='col-md-5'>
            <q-btn color='primary' class='full-width' label='Update' @click='updateBill'
            />
          </div>
        </div>
      </div>
    </q-form>
  </main>
</template>

<script>

import { mapActions, mapState } from 'vuex';

export default {
  name: 'BillEdit',
  data() {
    return {
      recipientNames: [],
      confirmEdit: false,
      confirm: false,
      filteredList: [],
      itemList: '',
      reqBill: {
        receiver: {
          label:'',
          value:'',
        },
        remarks: '',
        orderItems: []
      },
      billId: null,
      addItem: {
        name: '',
        rate: 0,
        qty: 0
      },
      editItem: '',
      columns: [
        {
          name: 'inventory',
          required: true,
          label: 'Inventory Name',
          align: 'left',
          field: 'inventory',
          format: val => val.name,
          sortable: true
        },
        {
          name: 'quantity',
          label: 'Quantity',
          field: 'quantity',
          sortable: true
        },
        { name: 'rate', label: 'Rate', field: 'rate', sortable: true },
        { name: 'total', label: 'Amount', field: 'total', sortable: true },
        {
          name: 'actions',
          align: 'center',
          label: 'Actions',
          field: 'actions',
          headerClasses: 'entrance-col'
        }
      ]
    };
  },
  async created() {
    if (this.$route.params) {
      this.billId = this.$route.params.id;
      await this.loadBillById(this.billId);
    }
    await Promise.all([this.loadItems(), this.loadRecipientName()]);
  },
  watch: {
    bill(val) {
      this.reqBill = Object.values(val);
      this.reqBill = this.reqBill[0]  ;
      this.reqBill = this.reqBill[0];
      this.reqBill={...this.reqBill,receiver:{label:this.reqBill.receiver.name,value:this.reqBill.receiver._id}}
    },
    listOfUser(val) {
      this.recipientNames = val.map(v =>
        ({
          label: v.name,
          value: v._id
        })
      );
    },
    items(val) {
      this.itemList = val.map(data => (
        {
          label: data.name,
          value: data.id,
          rate: data.price
        }
      ));
    }
  },
  computed: {
    ...mapState('bill', ['bill']),
    ...mapState('pos', ['items']),
    ...mapState('user', ['listOfUser']),
    itemTotal() {
      return this.addItem.rate * this.addItem.qty;
    }
  },
  methods: {
    ...mapActions('bill', ['loadBill', 'loadBillById', 'addBillOrderItem', 'deleteBillOrderItem', 'editBillOrderItem','editBill']),
    ...mapActions('pos', ['loadItems']),
    ...mapActions('user', ['loadRecipientName']),
    async updateBill(){
      try{
        let reqval={
          receiver:this.reqBill.receiver.value,
          remarks: this.reqBill.remarks,
          _id:this.billId
        };
        await this.editBill(reqval);
      }catch (e) {
       
      }finally {
        await this.$router.push('/bill');
      }



    },
    async editSelectedRow() {
      let reqData = {
        ...this.editItem,
        inventory: this.editItem.inventory.value
      };
     
      this.confirmEdit = false;
      await this.editBillOrderItem(reqData);
      await this.loadBillById(this.billId);
    },
    async addToOrderList() {
      let data = {
        inventory: this.addItem.name,
        quantity: parseInt(this.addItem.qty),
        rate: parseInt(this.addItem.rate),
        total: parseInt(this.itemTotal),
        id: this.billId
      };
     
      await this.addBillOrderItem(data);
      await this.loadBillById(this.billId);
    },
    changeValues(e) {
      let val = this.filteredList.findIndex(
        v => v.value.toLowerCase() === this.addItem.name
      );
      if (val > -1) {
        this.addItem.rate = parseInt(this.filteredList[val].rate);
      } else {
        this.addItem.rate = 0;
      }
    },
    filterFn(val, update) {
      this.filteredList = this.itemList;
      if (val === '') {
        update(() => {
          this.filteredList = this.itemList;
        });
        return;
      }
      update(() => {
        const needle = val;
        this.filteredList = this.itemList.filter(v =>
          v.label.includes(needle)
        );
      });
    },
    setEditOrderItem(val) {
      this.confirmEdit = true;
      this.editItem =
        {
          inventory: {
            label: val.inventory.name,
            value: val.inventory._id
          },
          quantity: val.quantity,
          rate: val.rate,
          total: val.total,
          _id: val._id
        };
      
    },
    async deleteItemList(orderId) {
      await this.deleteBillOrderItem({ billId: this.billId, orderId: orderId });
      await this.loadBillById(this.billId);
    }
  }
};
</script>

<style lang='scss'>
</style>
