<template>
  <main class='row q-col-gutter-md q-pa-md-md '>
    <div class='col-md-12 col-xs-12 column row-xs q-col-gutter-md-md'>
      <div class='col-md-2 col-xs-12 row-xs'>
        <q-card class='bg-white q-pa-sm col-md-2 col-xs-12 full-height' flat bordered>
          <div class='text-h5 q-mb-xs q-pb-md q-pl-md'>Add Credit entry</div>
          <q-form class='row q-col-gutter-md q-pb-md q-pl-md' @submit.prevent='addTransactionData'>
            <div class='col-md-2 col-xs-10 '>
              <q-select
                v-model='creditInput.receiver'
                use-input
                input-debounce='0'
                label='Select Receiver'
                :options='employeeRecipientFilteredOptions'
                @filter='filterFn'
                map-options
                ref='creditEmployee'
                emit-value
                dense
                outlined
                :rules=" [val => !!val || 'Debit is required']"
              >
                <template v-slot:no-option>
                  <q-item>
                    <q-item-section class='text-grey'>
                      No results
                    </q-item-section>
                  </q-item>
                </template>
              </q-select>
            </div>
            <div class='col-md-2 col-xs-2 row-xs justify-xs-center'>
              <q-select class='full-width' outlined v-model='creditInput.method'
                        map-options
                        emit-value
                        ref='creditMethod'
                        :options='accounts' label='Credit Transaction'
                        dense
              />
            </div>
            <div class='col-md-2 col-xs-12'>
              <q-input outlined v-model='creditInput.balance'
                       label='Balance'
                       type='number'
                       dense
                       ref='creditBalance'
                       :rules="  [val => !!val || 'Balance is required']"
              />
            </div>
            <q-space></q-space>
            <div>
              <q-btn color='primary' unelevated type='submit'>Add</q-btn>
            </div>
          </q-form>
        </q-card>
      </div>
      <div class='col-md-9 col-xs-12'>
        <q-card class='bg-white q-pa-sm col-md-10' flat bordered>
          <div class='row'>
            <div class='text-h6 q-pb-md q-pl-md'>Entries for the day of</div>
            <q-space />
            <div class='text-subtitle1 col-md-2 col-lg-1'>
              <q-select label='Select Period' outlined v-model='period'
                        :options='["Today","This Week","This Month", "All"]' />
            </div>
          </div>
          <q-table :columns='columns' :data='rows'>
            <q-td
              key='actions'
              slot='body-cell-actions'
              slot-scope='props'
              :props='props'
            >
              <q-btn
                round
                color='primary'
                icon='edit'
                @click='confirmEditBox(props.row)'
              />
              <q-btn
                round outline
                color='primary'
                icon='delete'
                @click='deleteSelectedTransaction(props.row.id)'
              />
            </q-td>
          </q-table>
        </q-card>
      </div>
    </div>
    <q-dialog v-model='confirm'>
      <q-card class='q-pa-md'>
        <div class='text-h6'>Are you sure you want to delete</div>
        <div class='flex justify-end q-mt-lg'>
          <q-btn @click='deleteConfirm' color='primary'>Confirm</q-btn>
          <q-btn class='q-ml-xs' @click='confirm=false' color='primary' outline>Cancel</q-btn>
        </div>
      </q-card>
    </q-dialog>
    <q-dialog v-model='confirmEdit'>
      <q-card class='q-pa-md'>
        <div class='text-h6'>Edit Transaction</div>
        <q-form class='column full-width q-mt-lg' @submit.prevent='editSelectedRow'>
          <div class='col-md-12 col-sm-6'>
            <q-input v-model='editObj.particulars' disable label='Particulars' outlined dense />
          </div>
          <div class='col-md-12 col-sm-4 q-mt-md'>
            <q-input v-model='editObj.balance' label='Balance' outlined dense />
          </div>
          <div class='col-md-2 col-sm-2 text-right q-mt-md'>
            <q-btn color='primary' type='submit'>Confirm</q-btn>
          </div>
        </q-form>
      </q-card>
    </q-dialog>
  </main>
</template>
<script>
import { mapActions, mapState } from 'vuex';
import moment from 'moment';
import DayBookBalances from '../components/modules/DayBook/DayBookBalances';
import { errorNotify } from 'src/utils/notify';

const clearCreditInput = {
  method: '',
  receiver: '',
  balance: 0
};
export default {
  data() {
    return {
      creditInput: {
        method: '',
        receiver: '',
        balance: 0
      },
      balance: 0,
      employeeRecipientOptions: [],
      employeeRecipientFilteredOptions: [],
      notRequired: false,
      selectedId: -1,
      confirm: false,
      confirmEdit: false,
      period: 'Today',
      debit: '',
      credit: '',
      editObj: {
        particulars:'',
        method: '',
        receiver: '',
        balance: 0
      },
      rows: [],
      accounts: [],
      columns: [
        {
          name: 'particulars',
          required: true,
          label: 'Particulars',
          align: 'left',
          field: 'particulars',
          sortable: true
        },
        { name: 'debit', align: 'center', label: 'Debit', field: 'debit', sortable: true, format: (val) => val.label },
        {
          name: 'credit',
          align: 'center',
          label: 'Credit',
          field: 'credit',
          sortable: true,
          format: (val) => val.label
        },
        { name: 'balance', align: 'center', label: 'Balance', field: 'balance', sortable: true },
        { name: 'actions', align: 'center', label: 'Actions', field: 'actions', sortable: true }
      ],
      employeeOptions: [],
      creditOptions: [],
      model: ''
    };
  },
  computed: {
    ...mapState('transaction', ['listOfTransactions']),
    ...mapState('booksOfAccount', ['listOfAccounts', 'employeeRecipient']),
    today() {
      return moment(new Date()).format('MMM DD, YYYY');
    }
  },
  watch: {
    employeeRecipient(val) {
      let totalReqData = [];
      val.forEach(data => {
        let reqVal = data;
        totalReqData = totalReqData.concat(reqVal);
      });
      totalReqData = totalReqData.map(v => (
        {
          label: v.name,
          value: v._id
        }
      ));
      this.employeeRecipientOptions = totalReqData;
    },
    listOfTransactions(val) {
      this.rows = val.filter(v => moment(new Date(v._id)).format('MMM DD, YYYY') === this.today);
      this.rows = this.reqTableData(this.rows);
    },
    async listOfAccounts(val) {
      this.accounts = val.map(v => ({
        label: v.name,
        value: v._id
      }));
    },
    period(val) {
      
      if (val === 'Today') {
        this.rows = this.listOfTransactions.filter(v => moment(new Date(v._id)).format('MMM DD, YYYY') === this.today);
        this.rows = this.reqTableData(this.rows);
      } else if (val === 'This Week') {
        this.rows = this.listOfTransactions.filter(v => moment(new Date(v._id)).isBetween(moment(new Date()).startOf('week'), moment(new Date()).endOf('week')));
        this.rows = this.reqTableData(this.rows);
      } else if (val === 'This Month') {
        this.rows = this.listOfTransactions.filter(v => moment(new Date(v._id)).isBetween(moment(new Date()).startOf('month'), moment(new Date()).endOf('month')));
        this.rows = this.reqTableData(this.rows);
      } else {
        this.rows = this.reqTableData(this.listOfTransactions);
      }
    }
  },
  methods: {
    ...mapActions('transaction', ['loadCredits', 'addCredit', 'editTransaction', 'deleteTransaction','editCredit']),
    ...mapActions('booksOfAccount', ['loadAccounts', 'loadEmployeeRecipient']),
    ...mapActions('employee', ['loadEmployeesNames']),
    reqTableData(val) {
      let totalReqData = [];
      val.forEach(data => {
        let tempData = data.transaction.map(rowData => ({
          balance: rowData?.balance,
          id: rowData?._id,
          debit: {
            value: rowData?.debit[0]?._id || '---',
            label: rowData?.debit[0]?.name || '---'
          },
          credit: {
            value: rowData?.credit[0]._id,
            label: rowData?.credit[0].name
          },
          particulars: rowData?.particulars
        }));
        totalReqData = totalReqData.concat(tempData);
      });
      return totalReqData;
    },
    filterItems(val) {
      let reqVal;
      this.accounts.forEach(check => {
        if (check?.value === val) {
          reqVal = {
            label: check.label,
            value: check.value
          };
        }
      });
      return reqVal;
    },
    filterFn(val, update) {
      this.employeeRecipientFilteredOptions = this.employeeRecipientOptions;
      if (val === '') {
        update(() => {
          this.employeeRecipientFilteredOptions = this.employeeRecipientOptions;
        });
        return;
      }
      update(() => {
        const needle = val;
        this.employeeRecipientFilteredOptions = this.employeeRecipientOptions.filter(v =>
          v.label.includes(needle)
        );
      });
    },
    async addTransactionData() {
      this.creditInput={...this.creditInput,balance: parseInt(this.creditInput.balance)}
      

      try {
        await this.addCredit(this.creditInput);
       this.creditInput={...clearCreditInput};
      } catch (error) {
        errorNotify('Please insert data');
      } finally {
        await this.loadAccounts();
        this.$refs.creditEmployee.resetValidation();
        this.$refs.creditMethod.resetValidation();
        this.$refs.creditBalance.resetValidation();
      }
      await this.loadCredits();
    },
    async deleteConfirm() {
      if (this.selectedId !== -1) {
        this.confirm = false;
        await this.deleteTransaction(this.selectedId);
        await this.loadAccounts();
        await this.loadCredits();
      }
    },
    async confirmEditBox(row) {
      
      this.editObj = {
        particulars: row.particulars,
        
        balance: row.balance,
        _id:row.id
      };
      this.confirmEdit = true;
    },
    async editSelectedRow() {
      if (this.editObj._id !== -1) {
        this.editObj={...this.editObj,balance: parseInt(this.editObj.balance)}
        
        await this.editCredit(this.editObj);
        await this.loadCredits();
        this.editObj = {
          ...this.editObj,
          _id: -1
        };
        this.confirmEdit = false;
      }
    },
    async deleteSelectedTransaction(id) {
      this.confirm = true;
      this.selectedId = id;
    }
  },
  async created() {
    await Promise.all([this.loadAccounts(), this.loadCredits(), this.loadEmployeeRecipient()]);

  }
};
</script>
