<template>
  <main class='row q-col-gutter-md q-pa-md  q-mt-xs-md'>
    <div class='col-md-8 col-lg-9 col-xs-12 column row-xs q-col-gutter-md'>
      <div class='col-md-12 col-xs-12'>
        <q-card class='col-xs-12 bg-white q-pa-sm col-md-2 q-mx-md ' flat bordered>
          <div class='text-h5 q-mb-xs q-pa-md'>Add an entry</div>
          <q-form class='row q-col-gutter-md q-px-md' @submit.prevent='addTransactionData'>
            <div class='col-md-3 col-lg-3  col-sm-2 nepali-date'>
              <VueNepaliDatepicker v-model='date' placeholder='Enter date' />
            </div>
            <div class='col-md-3 col-xs-12'>
              <q-select
                v-model='debit'
                use-input
                input-debounce='0'
                label='Debit'
                ref='refdebit'
                :options='filteredAccountsList'
                @filter='filterFn'
                map-options
                emit-value
                dense

                outlined
                :rules="[val => !!val || 'Debit field is required']"
              >
                <template v-slot:no-option>
                  <q-item>
                    <q-item-section class='text-grey'>
                      No results
                    </q-item-section>
                  </q-item>
                </template>
              </q-select>
            </div>
            <div class='col-md-3 col-xs-12'>
              <q-select outlined v-model='credit'
                        map-options
                        emit-value
                        ref='refcredit'
                        :options='creditOptions' label='Credit'
                        dense
              />
            </div>
            <div class='col-md-3 col-xs-12'>
              <q-input outlined v-model='balance'
                       label='Balance'
                       type='number'
                       ref='refbalance'
                       dense
                       :required='!notRequired'
                       :rules="[val => !!val || 'Balance is required']"
              />
            </div>
            <q-space></q-space>
            <div>
              <q-btn color='primary' unelevated type='submit'>Add</q-btn>
            </div>
          </q-form>
        </q-card>
      </div>
      <div class='col-md-12  col-xs-12'>
        <q-card class='bg-white q-pa-sm col-md-10 col-xs-12 q-mx-md' flat bordered>
          <div class='row'>
            <div class='text-h6 text-weight-medium q-pl-md'>Entries for the day of</div>
            <q-space />
            <div class='text-subtitle1 q-pb-lg col-md-2'>
              <q-select label='Select Period' outlined v-model='period'
                        :options='["Today","This Week","This Month", "All"]' />
            </div>
          </div>
          <q-table :columns='columns' :data='rows' :rows-per-page-options='[10]'>
            <q-td
              key='actions'
              slot='body-cell-actions'
              slot-scope='props'
              :props='props'
            >
              <q-btn
                round
                color='primary'
                icon='edit'
                @click='confirmEditBox(props.row)'
              />
              <q-btn
                round outline
                color='primary'
                icon='delete'
                @click='deleteSelectedTransaction(props.row.id)'
              />
            </q-td>
          </q-table>
        </q-card>
      </div>
    </div>
    <div class='col-md-4 col-lg-3 col-xs-12'>
      <DayBookBalances />
    </div>
    <q-dialog v-model='confirm'>
      <q-card class='q-pa-md'>
        <div class='text-h6'>Are you sure you want to delete</div>
        <div class='flex justify-end q-mt-lg'>
          <q-btn @click='deleteConfirm' color='primary'>Confirm</q-btn>
          <q-btn class='q-ml-xs' @click='confirm=false' color='primary' outline>Cancel</q-btn>
        </div>
      </q-card>
    </q-dialog>
    <q-dialog v-model='confirmEdit'>
      <q-card class='q-pa-md'>
        <div class='text-h6'>Edit Transaction</div>
        <q-form class='column full-width q-mt-lg' @submit.prevent='editSelectedRow'>
          <div class='col-md-3 col-lg-3  col-sm-2 q-pb-md nepali-date'>
            <VueNepaliDatepicker v-model='editObj.date' placeholder='Enter date' />
          </div>
          <div class='col-md-12 col-sm-6 col-xs-12'>
            <q-input v-model='editObj.particulars' label='Particulars' outlined dense />
          </div>
          <div class='col-md-12 col-sm-4 q-mt-md col-xs-12'>
            <q-select
              v-model='editObj.debit'
              use-input
              input-debounce='0'
              label='Reciever'
              :options='filteredAccountsList'
              @filter='filterFn'
              map-options
              dense
              outlined
            >
              <template v-slot:no-option>
                <q-item>
                  <q-item-section class='text-grey'>
                    No results
                  </q-item-section>
                </q-item>
              </template>
            </q-select>
          </div>
          <div class='col-md-12 col-sm-4 q-mt-md'>
            <q-select outlined v-model='editObj.credit'
                      input-debounce='0'
                      map-options
                      :options='creditOptions' label='Credit'
                      dense
            />
          </div>
          <div class='col-md-12 col-sm-4 q-mt-md'>
            <q-input v-model='editObj.balance' label='Balance' outlined dense />
          </div>
          <div class='col-md-2 col-sm-2 text-right q-mt-md'>
            <q-btn color='primary' type='submit'>Confirm</q-btn>
          </div>
        </q-form>
      </q-card>
    </q-dialog>
  </main>
</template>
<script>
import { mapActions, mapState } from 'vuex';
import moment from 'moment';
import VueNepaliDatepicker from 'v-nepalidatepicker';
import NepaliDate from 'nepali-date/cjs/NepaliDate';
import DayBookBalances from '../components/modules/DayBook/DayBookBalances';
import { nepToEng } from '../utils/nepToEngDateConvert';
import { errorNotify } from 'src/utils/notify';

let nepaliDate = new NepaliDate();
const nepDate = `${nepaliDate.year}-${nepaliDate.month + 1}-${nepaliDate.day}`;

export default {
  components: { DayBookBalances, VueNepaliDatepicker },
  data() {
    return {
      filteredAccountsList:[],
      date: '',
      notRequired: false,
      selectedId: -1,
      confirm: false,
      confirmEdit: false,
      period: 'Today',
      debit: '',
      credit: '',
      balance: 0,
      editObj: {
        debit: '',
        credit: '',
        balance: 0,
        _id: -1,
        particulars: '',
        date:'',
      },
      rows: [],
      accounts: [],
      columns: [
        {
          name: 'date', align: 'center', label: 'Created Date', field: 'date',
          format: val => nepToEng(moment(val).format('YYYY-MM-DD'), 'nep'),
          sortable: true
        },{
          name: 'addedDate', align: 'center', label: 'Added Date', field: 'addedDate',
          sortable: true
        },
        {
          name: 'particulars',
          required: true,
          label: 'Particulars',
          align: 'left',
          field: 'particulars',
          sortable: true
        },
        { name: 'debit', align: 'center', label: 'Debit', field: 'debit', sortable: true, format: (val) => val?.label },
        {
          name: 'credit',
          align: 'center',
          label: 'Credit',
          field: 'credit',
          sortable: true,
          format: (val) => val?.label
        },
        
        { name: 'balance', align: 'center', label: 'Balance', field: 'balance', sortable: true },
        { name: 'actions', align: 'center', label: 'Actions', field: 'actions', sortable: true }
      ],
      creditOptions: []
    };
  },
  computed: {
    ...mapState('booksOfAccount', ['listOfAccounts']),
    ...mapState('transaction', ['listOfTransactions']),

    today() {
      return moment(new Date()).format('MMM DD, YYYY');
    }
    
  },
  watch: {
    addTransaction() {
      this.addTransaction();
    },
    listOfAccounts(val) {
      this.accounts = val?.map(v => ({
        label: v.name,
        value: v._id
      }));
      this.creditOptions = val?.filter(v => ['Cash', 'Credit', 'Bank'].includes(v.name))?.map(v => ({
        label: v.name,
        value: v._id
      }));
      this.credit = this.creditOptions[1]?.value;
    },
    listOfTransactions(val) {
      this.rows = val.filter(v => moment(new Date(v._id)).format('MMM DD, YYYY') === this.today);
      this.rows = this.reqTableData(this.rows);
    },
    period(val) {
      if (val === 'Today') {
        this.rows = this.listOfTransactions.filter(v => moment(new Date(v._id)).format('MMM DD, YYYY') === this.today);
        this.rows = this.reqTableData(this.rows);
      } else if (val === 'This Week') {
        this.rows = this.listOfTransactions.filter(v => moment(new Date(v._id)).isBetween(moment(new Date()).startOf('week'), moment(new Date()).endOf('week')));
        this.rows = this.reqTableData(this.rows);
      } else if (val === 'This Month') {
        this.rows = this.listOfTransactions.filter(v => moment(new Date(v._id)).isBetween(moment(new Date()).startOf('month'), moment(new Date()).endOf('month')));
        this.rows = this.reqTableData(this.rows);
      } else {
        this.rows = this.reqTableData(this.listOfTransactions);
      }
    }
  },
  methods: {
    ...mapActions('transaction', ['loadTransactions', 'addTransaction', 'editTransaction', 'deleteTransaction']),
    ...mapActions('booksOfAccount', ['loadAccounts']),
    filterFn(val, update) {
      this.filteredAccountsList = this.accounts;
      if (val === '') {
        update(() => {
          this.filteredAccountsList = this.accounts;
        });
        return;
      }
      update(() => {
        const needle = val;
        this.filteredAccountsList = this.accounts?.filter(v =>
          v.label?.includes(needle)
        );
      });
    },
    reqTableData(val) {
      let totalReqData = [];
      val.forEach(data => {
        let tempData = data.transaction.map(rowData => ({
          date: rowData?.createdAt,
          addedDate:rowData?.date || rowData?.createdAt,
          balance: rowData?.balance,
          id: rowData?._id,
          debit: {
            value: rowData?.debit[0]?._id || '---',
            label: rowData?.debit[0]?.name || '---'
          },
          credit: {
            value: rowData?.credit[0]._id,
            label: rowData?.credit[0].name
          },
          particulars: rowData?.particulars
        }));
        totalReqData = totalReqData?.concat(tempData);
      });
      return totalReqData;
    },

    filterItems(val) {
      let reqVal;
      this.accounts.forEach(check => {
        if (check?.value === val) {
          reqVal = {
            label: check.label,
            value: check.value
          };
        }
      });
      return reqVal;
    },
    async addTransactionData() {
      try {
        await this.addTransaction({
          date:nepToEng(this.date,'eng'),
          debit: this.debit,
          credit: this.credit,
          balance: parseInt(this.balance)
        });
        this.debit = '';
        this.credit = '';
        this.balance = '';
      } catch (error) {
        errorNotify('Please choose', error);
      } finally {
        await this.loadAccounts();
        await this.loadTransactions();
        this.$refs.refdebit.resetValidation();
        this.$refs.refcredit.resetValidation();
        this.$refs.refbalance.resetValidation();
      }
    },
    async deleteConfirm() {
      if (this.selectedId !== -1) {
        this.confirm = false;
        await this.deleteTransaction(this.selectedId);
        await this.loadTransactions();
      }
    },
    async confirmEditBox(row) {
      this.editObj = {
        particulars: row?.particulars,
        bill: row?.bill,
        credit: row?.credit,
        debit: row?.debit,
        _id: row?.id,
        balance: row?.balance,
        date:nepToEng(moment(row?.addedDate).format('YYYY-MM-DD'), 'nep'),
      };
      this.confirmEdit = true;
    },
    async editSelectedRow() {
      let reqData = {
        'date':nepToEng(this.editObj?.date,'eng') ,
        'particulars': this.editObj?.particulars,
        'balance': parseInt(this.editObj?.balance),
        '_id': this.editObj?._id,
        'debit': this.editObj?.debit.value,
        'credit': this.editObj?.credit.value
      };
      if (this.editObj._id !== -1) {
        await this.editTransaction(reqData);
        await this.loadTransactions();
        this.confirmEdit = false;
      }
    },
    async deleteSelectedTransaction(id) {
      this.confirm = true;
      this.selectedId = id;
    }
  },
  async created() {
    await Promise.all([this.loadAccounts(), this.loadTransactions()]);
  }
};
</script>
