<template>
  <main class='q-pa-md-xl  row q-col-gutter-md'>
    <section class='col-md-12 col-xs-12'>
      <q-card class='q-pa-md'>
        <section class='row justify-between'>
          <div class='text-h6 q-pb-lg q-pl-md'>Add Employees</div>
          <div>
            <q-btn label='Add Employee' v-if='!addEmployeeInput' color='primary' @click='addEmployeeInput=true' />
            <q-btn v-if='addEmployeeInput' icon='keyboard_arrow_up' color='primary' @click='addEmployeeInput=false' />
          </div>
        </section>
        <q-form class='row full-width q-col-gutter-md' v-if='addEmployeeInput' @submit.prevent='addNewEmployee'>
          <div class='col-md-6 col-sm-6'>
            <q-input v-model='name' label='Name' outlined dense ref='empname'
                     :rules="[val => !!val || 'Name is required']" />
          </div>
          <div class='col-md-6 col-sm-4'>
            <q-input v-model='salary' type='number' label='Salary' outlined dense ref='empsalary'
                     :rules="[val => !!val || 'Salary is required']" />
          </div>
          <div class='col-md-6 col-sm-4'>
            <q-input v-model='position' label='Position' outlined dense ref='empposition'
                     :rules=" [val => !!val || 'Position is required']" />
          </div>
          <div class='col-md-6 col-sm-4'>
            <q-input v-model='address' label='Address' outlined dense ref='empaddress'
                     :rules="[val => !!val || 'Address is required']" />
          </div>
          <div class='col-md-6 col-sm-4'>
            <q-input v-model='phone' type='number' ref='empphone' label='Phone' outlined dense :rules="[
                val => !!val || 'Phone Number is required',
                val =>
                  val.toString().length < 11 ||
                  `Phone Number should less then 10  digits `,
                val =>
                  val.toString().length > 8 ||
                  `Phone Number should be atleast 9 digits`,
                  val => parseInt(val)!==parseInt(uniqueNumber(val)) ||
                  `Phone Number already taken`,
              ]" />
          </div>
          <div class='col-md-6 col-sm-4'>
            <q-input v-model='pan' type='number' label='PAN' outlined dense />
          </div>
          <div class='row justify-end col-md-12'>
            <q-btn color='primary' type='submit'>Add</q-btn>
          </div>
        </q-form>
      </q-card>
      <q-card class='q-mt-md q-pa-md'>
        <div class='text-h6 q-pb-md q-pl-md'>Employees</div>
        <div class='q-pa-md'>
          <q-table
            :data='employee'
            :columns='columns'
            row-key='index'
            flat
          >
            <q-td
              key='actions'
              slot='body-cell-actions'
              slot-scope='props'
              :props='props'
            >
              <q-btn
                round
                color='primary'
                icon='edit'
                @click='confirmEditBox(props.row)'
              />
              <q-btn
                round
                color='primary'
                icon='delete'
                @click='deleteSelectedEmployee(props.row.id)'
              />
            </q-td>
          </q-table>
        </div>
        <q-dialog v-model='confirm'>
          <q-card class='q-pa-md'>
            <div class='text-h6'>Are you sure you want to delete</div>
            <div class='flex justify-end q-mt-lg'>
              <q-btn @click='deleteConfirm' color='primary'>Confirm</q-btn>
              <q-btn class='q-ml-xs' @click='confirm=false' color='primary' outline>Cancel</q-btn>
            </div>
          </q-card>
        </q-dialog>
        <q-dialog v-model='confirmEdit'>
          <q-card class='q-pa-md'>
            <div class='text-h6'>Edit Employee</div>
            <q-form class='column full-width q-mt-lg' @submit.prevent='editSelectedRow'>
              <div class='col-md-12 col-sm-6'>
                <q-input v-model='editObj.name' label='Name' outlined dense
                         :rules="[val => !!val || 'Name field is required']" />
              </div>
              <div class='col-md-12 col-sm-4'>
                <q-input v-model='editObj.salary' type='number' label='Salary' outlined dense
                         :rules="[val => !!val || 'Salary field is required']" />
              </div>
              <div class='col-md-12 col-sm-4'>
                <q-input v-model='editObj.position' label='Position' outlined dense
                         :rules="[val => !!val || 'Position field is required']" />
              </div>
              <div class='col-md-12 col-sm-4'>
                <q-input v-model='editObj.address' label='Address' outlined dense
                         :rules="[val => !!val || 'Address field is required']" />
              </div>
              <div class='col-md-12 col-sm-4 q-pb-md'>
                <q-input v-model='editObj.phone' label='Phone' outlined dense :rules="[
                val => !!val || 'Phone Number is required',
                val =>
                  val.toString().length < 11 ||
                  `Phone Number should less then 10  digits `,
                val =>
                  val.toString().length > 8 ||
                  `Phone Number should be atleast 9 digits`,
              ]" />
              </div>
              <div class='col-md-12 col-sm-4'>
                <q-input v-model='editObj.pan' type='number' label='PAN' outlined dense
                         :rules="[val => !!val || 'PAN field is required']" />
              </div>
              <div class='col-md-2 col-sm-2 text-right q-mt-md'>
                <q-btn color='primary' type='submit'>Confirm</q-btn>
              </div>
            </q-form>
          </q-card>
        </q-dialog>
      </q-card>
    </section>
  </main>
</template>
<script>
import { errorNotify } from 'src/utils/notify';
import { mapActions, mapState } from 'vuex';

const editObjClear = {
  name: '',
  salary: 0,
  position: '',
  address: '',
  phone: '',
  pan: '',
  _id: -1
}

export default {
  name: 'BooksOfEmployee',
  data() {
    return {
      addEmployeeInput: false,
      notRequired: false,
      name: '',
      salary: '',
      position: '',
      address: '',
      phone: '',
      vat: '',
      pan: '',
      selectedId: -1,
      categoryOptions: [],
      editObj: {
        name: '',
        salary: '',
        position: '',
        address: '',
        phone: '',
        pan: '',
        _id: -1
      },
      confirm: false,
      confirmEdit: false,
      columns: [
        {
          name: 'name',
          required: true,
          label: 'Name',
          align: 'left',
          field: row => row.name,
          format: val => `${val}`,
          sortable: true
        },
        { name: 'phone', align: 'center', label: 'Phone', field: 'phone', sortable: true },
        { name: 'position', align: 'center', label: 'Position', field: 'position', sortable: true },
        { name: 'address', align: 'center', label: 'Address', field: 'address', sortable: true },
        { name: 'salary', align: 'center', label: 'Salary', field: 'salary', sortable: true },
        { name: 'actions', align: 'center', label: 'Actions', field: 'actions', sortable: true }
      ],
      rows: [
        { name: 'Salary', balance: 0 },
        { name: 'Prepaid Salary', balance: 2000 },
        { name: 'Stationery', balance: 3000 },
        { name: 'Salary', balance: 0 }
      ],
      employee: [],
      regPhone: []
    };
  },
  computed: {
    ...mapState('employee', ['listOfEmployees']),
    ...mapState('category', ['listOfCategory'])
  },
  watch: {
    listOfEmployees(val) {    
      this.employee = val;
      this.regPhone = val.map(data => parseInt(data.phone));    
    },
    listOfCategory(val) {
      this.categoryOptions = val.map(v => ({
        label: v.name,
        value: v.id
      }));
    }
  },
  async mounted() {
    await this.loadAllEmployee();
  },
  methods: {
    ...mapActions('employee', ['loadEmployees', 'addEmployee', 'deleteEmployee', 'editEmployee']),
    uniqueNumber(val) {
      return this.regPhone.filter(check => check === parseInt(val) );
    },
    async loadAllEmployee() {
      await this.loadEmployees();
    },
    async addNewEmployee() {
      try {
        await this.addEmployee({
          name: this.name,
          salary: this.salary,
          position: this.position,
          address: this.address,
          phone: this.phone,
          vat: this.vat,
          pan: this.pan
        });
        this.name = '';
        this.salary = '';
        this.position = '';
        this.address = '';
        this.phone = '';
        this.vat = '';
        this.pan = '';

      } catch (error) {
        errorNotify('Please insert all the data', error);
      } finally {
        await this.loadEmployees();
        this.$refs.empname.resetValidation();
        this.$refs.empsalary.resetValidation();
        this.$refs.empposition.resetValidation();
        this.$refs.empaddress.resetValidation();
        this.$refs.empphone.resetValidation();
      }
    },
    async deleteConfirm() {
      if (this.selectedId !== -1) {
        await this.deleteEmployee(this.selectedId);
        await this.loadAllEmployee();
        this.confirm = false;
      }
    },
    async confirmEditBox(row) {
      this.editObj = { ...row,_id:row.id };
      this.confirmEdit = true;
    },
    async editSelectedRow() {
      if (this.editObj._id !== -1) {

        await this.editEmployee(this.editObj);
        this.confirmEdit = false;
        await this.loadAllEmployee();
        this.editObj ={...editObjClear}
      }
    },
    async deleteSelectedEmployee(id) {
      
      this.confirm = true;
      this.selectedId = id;
    }
  }
};
</script>
