<template>
  <main class="screen q-pa-md">
    <q-card>
      <q-card-section class="column justify-between">
        <div class="text-h4">Employee Records</div>
        <StatsEmprecords />
        <NewEmployee />
      </q-card-section>
    </q-card>
  </main>
</template>
<script>
import NewEmployee from 'src/components/modules/EmployeeRecords/NewEmployee.vue';

import StatsEmprecords from 'src/components/modules/EmployeeRecords/Stats.emprecords.vue';

export default {
  components: { NewEmployee, StatsEmprecords }
};
</script>

StatsEmprecords
