<template>
  <main class="screen q-pa-xl">
    <q-card class='q-pa-md'>
      <div class="text-h5">Employee History</div>
      <q-card-section class="column justify-between">
        <StatsEmployee />
        <EmployeePayment />
        <TableEmployeeTransactions />
      </q-card-section>
    </q-card>
  </main>
</template>
<script>
import EmployeePayment from 'src/components/modules/EmployeeTransactions/EmployeePayment.vue';
import StatsEmployee from '../components/modules/EmployeeTransactions/Stats.emptransactions';
import TableEmployeeTransactions from '../components/modules/EmployeeTransactions/Table.emptransactions';
export default {
  components: { TableEmployeeTransactions, StatsEmployee, EmployeePayment }
};
</script>
