<template>
  <main class='q-px-xl q-py-md'>
    <div class='row q-col-gutter-md'>
      <div class='col-md-4'>
        <q-card class='row q-pa-md items-center'>
          <div class='col-md-7'>
            <div class='text-h6'>Sales</div>
            <div class='text-h4'>Rs.3,00,000</div>

          </div>
          <div class='col-md-5'>
            <q-circular-progress
              value='60'
              :thickness='0.224'
              color='primary'
              track-color='grey-3'
              class='q-ma-md'
              size='80px'
            />
          </div>
        </q-card>
      </div>
      <div class='col-md-4'>
        <q-card class='row q-pa-md items-center'>
          <div class='col-md-8'>
            <div class='text-h6'>Sales</div>
            <div class='text-h4'>Rs.3,00,000</div>
          </div>
          <div class='col-md-4'>
            <q-circular-progress
              value='60'
              :thickness='0.22'
              color='primary'
              track-color='grey-3'
              class='q-ma-md'
              size='80px'
            />
          </div>

        </q-card>
      </div>
      <div class='col-md-4'>
        <q-card class='row q-pa-md items-center'>
          <div class='col-md-8'>
            <div class='text-h6'>Sales</div>
            <div class='text-h4'>Rs.3,00,000</div>
          </div>
          <div class='col-md-4'>
            <q-circular-progress
              value='60'
              :thickness='0.22'
              color='primary'
              track-color='grey-3'
              class='q-ma-md'
              size='80px'
            />
          </div>

        </q-card>
      </div>
    </div>
    <div class='row q-col-gutter-md q-py-md'>
      <div class='col-md-6'>
        <q-card>
          <q-tabs
            v-model='tab'
            dense
            class='text-grey'
            active-color='primary'
            indicator-color='primary'
            align='left'
            narrow-indicator
          >
            <q-tab name='transactions' label='Transactions' />
            <q-tab name='salary' label='Salary' />
            <q-tab name='credit' label='Credit Management' />
          </q-tabs>

          <q-separator />

          <q-tab-panels v-model='tab' animated>
            <q-tab-panel name='transactions'>
              <div class='text-h6'>Mails</div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </q-tab-panel>

            <q-tab-panel name='salary'>
              <div class='text-h6'>Alarms</div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </q-tab-panel>

            <q-tab-panel name='credit'>
              <div class='text-h6'>Movies</div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </q-tab-panel>
          </q-tab-panels>
        </q-card>
      </div>
      <div class='col-md-6'>
        <q-card>
          <div class='text-h6'>Quick links</div>
          <div class='row'>
            <div class='column items-center col-md-3'>
              <q-icon name='dashboard' size='32px'/>
              <div class='subtitle1'>
                New Transaction
              </div>
            </div>
            <div class='column items-center col-md-3'>
              <q-icon name='dashboard' size='32px'/>
              <div class='subtitle1'>
                Salary
              </div>
            </div>
            <div class='column items-center col-md-3'>
              <q-icon name='dashboard' size='32px'/>
              <div class='subtitle1'>
                Credit Management
              </div>
            </div>
            <div class='column items-center col-md-3'>
              <q-icon name='dashboard' size='32px'/>
              <div class='subtitle1'>
                Day Book
              </div>
            </div>
          </div>
        </q-card>
        <q-card>
        </q-card>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  name: 'index',
  data(){
    return{
      tab: 'transactions',
      series: [{
        name: "Session Duration",
        data: [45, 52, 38, 24, 33, 26, 21, 20, 6, 8, 15, 10]
      },
        {
          name: "Page Views",
          data: [35, 41, 62, 42, 13, 18, 29, 37, 36, 51, 32, 35]
        },
        {
          name: 'Total Visits',
          data: [87, 57, 74, 99, 75, 38, 62, 47, 82, 56, 45, 47]
        }
      ],
    }
  }
};
</script>

<style scoped></style>
