<template>
  <main class='q-pa-md-xl q-pa-xs-md  row q-col-gutter-md'>
    <section class='col-md-9 col-xs-12'>
      <div class='row justify-between items-center'>
        <div class='text-h6 q-pb-lg q-pl-md'>Add Books of inventory</div>
        <q-btn label='ADD Inventory' color='primary' @click='showInventory=true' v-if='!showInventory' />
        <q-btn v-if='showInventory' icon='keyboard_arrow_up'  color='primary' @click='showInventory=false' />
      </div>
      <q-separator class='full-width' v-if='showInventory' color='primary'  />
      <q-card class='q-pa-md' v-if='showInventory'>
        <q-form class='row full-width q-col-gutter-md' @submit.prevent='addNewInventory'>
          <div class='col-md-6 col-xs-12 col-sm-6'>
            <q-input v-model='name' label='Name' outlined dense ref='inventoryName'
                     :rules=" [val => !!val || 'Name is required']" />
          </div>
          <div class='col-md-6 col-xs-12 col-sm-4'>
            <q-select v-model='type' label='Type' outlined dense :options='["RAW","PRODUCT"]' />
          </div>
          <div class='col-md-6 col-xs-12 col-sm-4'>
            <q-input v-model='minQuantity' label='Min Quantity' ref='inventoryMinQuantity' type='number' outlined dense
                     :rules=" [val => !!val || 'Min Quantity is required']" />
          </div>
          <div class='col-md-6 col-xs-12 col-sm-4'>
            <q-input v-model='quantity' label='Available Quantity' ref='inventoryAvailable' type='number' outlined dense
                     :rules="[val => !!val || 'Available Quantity is required']" />
          </div>
          <div class='col-md-6 col-xs-12 col-sm-4'>
            <q-input v-model='price' type='number' ref='inventoryPrice' label='Price' outlined dense
                     :rules=" [val => !!val || 'Price is required']" />
          </div>
          <div class='col-md-6 col-xs-12 col-sm-4'>
            <q-select v-model='category' map-options emit-value label='Category'  outlined dense
                      :options='categoryOptions' />
          </div>
          <div class='row justify-end col-md-12' v-if='type=="RAW"'>
            <q-btn color='primary' type='submit' label='Add' />
          </div>
        </q-form>
        <section class='q-my-md q-pa-md' v-if='this.type=="PRODUCT"'>
          <div class='text-h6 q-pb-md q-px-md'>
            Product Composition
          </div>
          <q-form class='full-width column ' @submit.prevent='addCompInventory'>
            <q-form class='row full-width q-col-gutter-md' @submit.prevent='addProductComp'>
              <q-select v-model='composition.rawMaterials' ref='refMaterial' label='Select Raw Materials'
                        :rules="[val => !!val || 'Please select raw materials']" class='col-md-6'
                        outlined
                        use-input
                        dense
                        map-options
                        @filter='filterFn'
                        :options='materialFilterList'
              />
              <q-input v-model='composition.qty' ref='refQuantity' type='number' class='col-md-3'
                       :rules=" [val => !!val || 'Quantity is required']" label='Enter Quantity'
                       outlined dense />
              <div class='col-md-3 row justify-end'>
                <div>
                  <q-btn color='primary' class='' type='submit' label='Add' />
                </div>
              </div>
            </q-form>
            <div class='q-pt-md'>
              <q-table
                :data='compInvent'
                :columns='compCol'
                :rows-per-page-options='[15]'
                row-key='key'
                flat
              >
                <q-td
                  key='actions'
                  slot='body-cell-actions'
                  slot-scope='props'
                  :props='props'
                >
                  <q-btn
                    round
                    color='primary'
                    icon='delete'
                    @click='compInvent.splice(props.row.id,1)'
                  />
                </q-td>
              </q-table>
            </div>
            <div class='row justify-end' v-if='this.type=="PRODUCT"'>
              <q-btn label='add Inventory' color='primary' type='submit' />
            </div>
          </q-form>
        </section>
      </q-card>
      <q-card class='q-mt-md q-pa-md'>
        <div class='text-h6 q-pl-md'>Books of Inventory</div>
        <div class='q-pa-md'>
          <q-table
            :data='inventory'
            :columns='columns'
            :rows-per-page-options='[10]'
            row-key='name'
            flat
          >
            <template v-slot:header='props'>
              <q-tr :props='props'>
                <q-th auto-width />
                <q-th
                  v-for='col in props.cols'
                  :key='col.name'
                  :props='props'
                >
                  {{ col.label }}
                </q-th>
              </q-tr>
            </template>

            <template v-slot:body='props' v-if='true'>
              <q-tr :props='props'>
                <q-td auto-width>
                  <q-btn size='sm' color='accent' round dense @click='props.expand = !props.expand'
                         v-if='props.row.type==="PRODUCT"'
                         :icon="props.expand ? 'expand_less' : 'expand_more'" />
                  <q-btn size='sm' color='deep-purple-3' round dense v-if='props.row.type!="PRODUCT"'
                         icon='remove' />
                </q-td>
                <q-td
                  v-for='col in props.cols'
                  :key='col.name'
                  :props='props'
                >
                  {{ col.value }}
                  <div class='row q-gutter-x-xs' v-if="col.field === 'actions'">
                    <q-btn
                      round
                      color='primary'
                      icon='edit'
                      @click='confirmEditBox(props.row)'
                    />
                    <q-btn
                      round
                      color='primary'
                      icon='delete'
                      outline
                      @click='deleteSelectedInventory(props.row._id)'
                    />
                  </div>
                </q-td>
              </q-tr>
              <q-tr v-show='props.expand' :props='props' :key='props.row._id'>
                <q-td colspan='100%'>
                  <div class='text-h6 text-h6 text-weight-light q-pl-md q-pt-md'>Add Inventory Items</div>
                  <q-form class='row full-width q-col-gutter-md q-pt-md'
                          @submit.prevent='addExtraProductComp(props.row._id)'>
                    <q-select v-model='extraComposition.rawMaterials' ref='refExtraCompMaterial'
                              label='Select Raw Materials'
                              :rules="[val => !!val || 'Please select raw materials']" class='col-md-6'
                              outlined
                              dense
                              map-options
                              :options='rawMaterialsList' />
                    <q-input v-model='extraComposition.quantity' ref='refExtraCompQty' type='number' class='col-md-3'
                             :rules=" [val => !!val || 'Quantity is required']" label='Enter Quantity'
                             outlined dense />
                    <div class='col-md-3 row justify-end'>
                      <div>
                        <q-btn color='primary' class='' type='submit' icon='add' />
                      </div>
                    </div>
                  </q-form>
                  <q-table title='Record Of Inventory Items' flat :columns='orderColumns'
                           :data='props.row.stockComposition'
                           :rows-per-page-options='[4]'>
                    <q-td
                      key='actions'
                      slot='body-cell-actions'
                      slot-scope='props'
                      :props='props'
                    >
                      <q-btn
                        round
                        color='primary'
                        icon='edit'
                        @click='confirmEditCompBox(props.row)'
                      />
                      <q-btn
                        round
                        color='primary'
                        icon='delete'
                        @click='deleteSelectedInventComp(props.row.productId,props.row._id)'
                      />
                    </q-td>
                  </q-table>
                </q-td>
              </q-tr>
            </template>
          </q-table>
        </div>
        <q-dialog v-model='confirm'>
          <q-card class='q-pa-md'>
            <div class='text-h6'>Are you sure you want to delete</div>
            <div class='flex justify-end q-mt-lg'>
              <q-btn @click='deleteConfirm' color='primary'>Confirm</q-btn>
              <q-btn class='q-ml-xs' @click='confirm=false' color='primary' outline>Cancel</q-btn>
            </div>
          </q-card>
        </q-dialog>
        <q-dialog v-model='confirmComp'>
          <q-card class='q-pa-md'>
            <div class='text-h6'>Are you sure you want to delete</div>
            <div class='flex justify-end q-mt-lg'>
              <q-btn @click='deleteCompConfirm' color='primary'>Confirm</q-btn>
              <q-btn class='q-ml-xs' @click='confirmComp=false' color='primary' outline>Cancel</q-btn>
            </div>
          </q-card>
        </q-dialog>
        <q-dialog v-model='confirmEdit'>
          <q-card class='q-pa-md'>
            <div class='text-h6'>Edit Inventory</div>
            <q-form class='column full-width q-mt-lg q-gutter-y-md' @submit.prevent='editSelectedRow'>
              <div class='col-md-12 col-sm-6'>
                <q-input v-model='editObj.name' label='Name' outlined dense />
              </div>
              <div class='col-md-12 col-sm-4'>
                <q-input v-model='editObj.price' label='price' outlined dense />
              </div>
              <div class='col-md-12 col-sm-4'>
                <q-input v-model='editObj.minQuantity' label='minQuantity' outlined dense />
              </div>
              <div class='col-md-12 col-xs-12 col-sm-4'>
                <q-select v-model='editObj.category' map-options label='Category' outlined dense
                          :options='categoryOptions' />
              </div>
              <div class='col-md-12 col-sm-4'>
                <q-input v-model='editObj.quantity' label='quantity' outlined dense />
              </div>
              <div class='col-md-12 col-sm-4'>
                <q-input v-model='editObj.type' label='type' outlined dense disable />
              </div>
              <div class='col-md-2 col-sm-2 text-right'>
                <q-btn color='primary' type='submit'>Confirm</q-btn>
              </div>
            </q-form>
          </q-card>
        </q-dialog>
        <q-dialog v-model='confirmEditComp'>
          <q-card class='q-pa-md'>
            <div class='text-h6'>Edit Composition</div>
            <q-form class='column full-width q-mt-lg q-gutter-y-md' @submit.prevent='editSelectedCompRow'>
              <div class='col-md-12 col-xs-12 col-sm-4'>
                <q-select v-model='editComp.material' map-options label='Raw Material' outlined dense
                          :options='rawMaterialsList' />
              </div>
              <div class='col-md-12 col-sm-4'>
                <q-input v-model='editComp.quantity' label='Quantity' outlined dense />
              </div>
              <div class='col-md-2 col-sm-2 text-right'>
                <q-btn color='primary' type='submit'>Confirm</q-btn>
              </div>
            </q-form>
          </q-card>
        </q-dialog>
      </q-card>
    </section>
    <section class='col-md-3 col-xs-12'>
      <CategoryBox />
    </section>
  </main>
</template>
<script>
import { errorNotify } from 'src/utils/notify';
import { mapActions, mapState } from 'vuex';
import { nepToEng } from '../utils/nepToEngDateConvert';
import moment from 'moment';
import category from '../store/modules/category';

export default {
  name: 'BooksOfInventory',
  data() {
    return {
      confirmComp: false,
      compDeleteIds: {
        iId: '',
        cId: ''
      },
      confirmEditComp: false,
      showInventory: false,
      notRequired: false,
      name: '',
      minQuantity: 0,
      quantity: 0,
      category: '',
      price: 0,
      type: 'RAW',
      selectedId: -1,
      categoryOptions: [],
      editObj: {
        category: '',
        minQuantity: '',
        name: '',
        price: 0,
        quantity: 0,
        stockComposition: [],
        type: '',
        _id: ''
      },
      editComp: {
        material: {},
        quantity: 0,
        _id: ''
      },
      confirm: false,
      confirmEdit: false,
      columns: [
        {
          name: 'name',
          required: true,
          label: 'Name',
          align: 'left',
          field: row => row.name,
          format: val => `${val}`,
          sortable: true
        },
        { name: 'price', align: 'center', label: 'Price', field: 'price', sortable: true },
        { name: 'quantity', align: 'center', label: 'Quantity', field: 'quantity', sortable: true },
        { name: 'type', align: 'center', label: 'Type', field: 'type', sortable: true },
        { name: 'minQuantity', align: 'center', label: 'Min quantity', field: 'minQuantity', sortable: true },
        
        { name: 'actions', align: 'center', label: 'Actions', field: 'actions', sortable: true }
      ],
      compCol: [
        {
          name: 'rawMaterials',
          required: true,
          label: 'Material Name',
          align: 'left',
          field: row => row.rawMaterials,
          format: val => `${val.label}`,
          sortable: true
        },
        { name: 'qty', align: 'center', label: 'Quantity', field: 'qty', sortable: true },
        { name: 'actions', align: 'center', label: 'Actions', field: 'actions', sortable: true }
      ],
      orderColumns: [
        {
          name: 'createdAt',
          required: true,
          label: 'Date',
          align: 'left',
          format: val => nepToEng(moment(val).format('YYYY-MM-DD'), 'nep'),
          field: 'createdAt',
          sortable: true
        }, {
          name: 'material',
          required: true,
          label: 'Name',
          format: val => val.label,
          align: 'center',
          field: 'material',
          sortable: true
        },
        {
          name: 'quantity',
          required: true,
          label: 'Quantity',
          align: 'right',
          field: 'quantity',
          sortable: true
        },
        { name: 'actions', align: 'center', label: 'Actions', field: 'actions', sortable: true }
      ],
      materialFilterList:[],
      inventory: [],
      compInvent: [],
      composition: {
        rawMaterials: '',
        qty: '',
        _id: ''
      },
      extraComposition: {
        rawMaterials: '',
        quantity: '',
        _id: ''
      }
    };
  },
  computed: {
    ...mapState('inventory', ['listOfInventory']),
    ...mapState('category', ['listOfCategory']),
    rawMaterialsList() {
      let reqArr = [];
      let test = this.inventory.filter(v => v.type === 'RAW');
      this.inventory.filter(v => v.type === 'RAW').forEach(val => {
        reqArr.push({ label: val.name, value: val._id });
      });
      return reqArr;
    }
  },
  watch: {
    listOfInventory(newVal) {
      this.inventory = newVal.map(data => (
        {
          ...data, stockComposition: data?.stockComposition?.map(val => ({
            ...val,
            productId: data._id,
            material: { label: val?.material?.name, value: val?.material?._id }
          }))
        }
      ));
    },
    listOfCategory(val) {
      this.categoryOptions = val.map(v => ({
        label: v.name,
        value: v.id
      }));
    }
  },
  async mounted() {
    await this.loadAllInventory();
  },
  methods: {
    ...mapActions('inventory', ['loadInventory', 'addInventory', 'deleteInventory', 'editInventory', 'deleteInventoryComp', 'editInventoryComp', 'addExtraInventoryComp']),
    filterFn(val, update) {
      this.materialFilterList = this.rawMaterialsList;
      if (val === '') {
        update(() => {
          this.materialFilterList = this.rawMaterialsList;
        });
        return;
      }
      update(() => {
        const needle = val;
        this.materialFilterList = this.rawMaterialsList?.filter(v =>
          v.label?.includes(needle)
        );
      });
    },
    async addExtraProductComp(id) {
      try {
        let reqVal = {
          material: this.extraComposition.rawMaterials.value,
          quantity: parseInt(this.extraComposition.quantity),
          _id: id
        };
        await this.addExtraInventoryComp(reqVal);
        this.extraComposition = {
          rawMaterials: '',
          _id: '',
          quantity: 0
        };
      } catch (e) {
        errorNotify(e);
      } finally {
        await this.loadAllInventory();
        this.$refs.refExtraCompMaterial.resetValidation();
        this.$refs.refExtraCompQty.resetValidation();
      }
    },
    addProductComp() {
      this.compInvent.push({ rawMaterials: this.composition?.rawMaterials, qty: parseInt(this.composition?.qty) });
    },
    async loadAllInventory() {
      await this.loadInventory();
    },
    async addCompInventory() {
      try {
        let stockComp = this.compInvent.map(v => ({ material: v.rawMaterials?.value, quantity: v.qty }));
        await this.addInventory({
          name: this.name,
          minQuantity: parseInt(this.minQuantity),
          quantity: parseInt(this.quantity),
          category: this.category,
          price: parseInt(this.price),
          type: this.type,
          stockComposition: stockComp
        });
        this.name = '';
        this.minQuantity = '';
        this.quantity = '';
        this.category = '';
        this.price = '';
        this.type = 'RAW';
        this.stockComposition = '';
      } catch (error) {
        errorNotify('Please select data  for product section', error);
      } finally {
        await this.loadInventory();
        this.$refs.inventoryName.resetValidation();
        this.$refs.inventoryMinQuantity.resetValidation();
        this.$refs.inventoryAvailable.resetValidation();
        this.$refs.inventoryPrice.resetValidation();
        this.$refs.refMaterial.resetValidation();
        this.$refs.refQuantity.resetValidation();
      }
    },
    async addNewInventory() {
      try {
        await this.addInventory({
          name: this.name,
          minQuantity: this.minQuantity,
          quantity: this.quantity,
          category: this.category,
          price: this.price,
          type: this.type
        });
        this.name = '';
        this.minQuantity = '';
        this.quantity = '';
        this.category = '';
        this.price = '';
        this.type = '';
      } catch (error) {
        errorNotify('Please Insert all inventory', error);
      } finally {
        await this.loadInventory();
        this.$refs.inventoryName.resetValidation();
        this.$refs.inventoryMinQuantity.resetValidation();
        this.$refs.inventoryAvailable.resetValidation();
        this.$refs.inventoryPrice.resetValidation();
      }
    },
    async deleteConfirm() {
      if (this.selectedId !== -1) {
        await this.deleteInventory(this.selectedId);
        await this.loadAllInventory();
        this.confirm = false;
      }
    },
    async deleteCompConfirm() {
      if (this.compDeleteIds) {
        await this.deleteInventoryComp(this.compDeleteIds);
        await this.loadAllInventory();
        this.confirmComp = false;
      }
    },
    async confirmEditBox(row) {
      this.editObj = {
        ...row,
        stockComposition: row.stockComposition?.map(data => data._id),
        category: { label: row.category?.name, value: row.category?._id }
      };
      this.confirmEdit = true;
    },
    async confirmEditCompBox(row) {
      this.editComp = {
        ...row
      };
      this.confirmEditComp = true;
    },
    async editSelectedRow() {
      if (this.editObj._id !== -1) {
        let reqData = { ...this.editObj, category: this.editObj?.category?.value };
        await this.editInventory(reqData);
        await this.loadAllInventory();
        this.editObj = {
          name: '',
          minQuantity: 0,
          quantity: 0,
          category: '',
          price: 0,
          type: 'RAW',
          _id: -1
        };
        this.confirmEdit = false;
      }
    },
    async editSelectedCompRow() {
      if (this.editComp._id !== -1) {
        let reqData = {
          ...this.editComp,
          material: this.editComp?.material?.value,
          quantity: parseInt(this.editComp?.quantity)
        };
        await this.editInventoryComp(reqData);
        await this.loadAllInventory();
        this.editComp = {
          material: '',
          _id: '',
          quantity: 0
        };
        this.confirmEditComp = false;
      }
    },
    async deleteSelectedInventory(id) {
      this.confirm = true;
      this.selectedId = id;
    },
    async deleteSelectedInventComp(iId, cId) {
      this.confirmComp = true;
      this.compDeleteIds = {
        iId: iId,
        cId: cId
      };
    }
  }
};
</script>
