<template>
  <main class='row q-col-gutter-md q-pl-lg q-pr-xl  q-mt-xs-md'>
    <q-card class='col-xs-12 bg-white q-pa-md  col-md-12 q-mx-md ' flat bordered>
      <div class='text-h5 q-mb-xs q-pa-md'>Add an entry</div>
      <q-form class='row q-col-gutter-md q-pa-md q-ma-sm' style="background-color:#f7f7fc" >
         <div class="column col-md-6 text-primary text-weight-bold q-gutter-y-sm" >
          <div> Debit Entry</div>
           <div class="row q-gutter-x-lg">
            <div class='col-md-5 col-xs-12'>
              <q-select
                v-model='entry.debit'
                use-input
                input-debounce='0'
                label='Debit'
                :options='filteredAccounts'
                @filter='filterFn'
                ref="journalDebit"
                dense
                outlined
                :rules="[val => !!val || 'Debit field is required']"
              >
                <template v-slot:no-option>
                  <q-item>
                    <q-item-section class='text-grey'>
                      No results
                    </q-item-section>
                  </q-item>
                </template>
              </q-select>
            </div>
            <div class='col-md-3 col-xs-12'>
              <q-input outlined v-model='entry.debitBal'
                      label='Debit Balance'
                      type='number'
                      dense
                      ref="journalDebitBalance"
                      :rules="[val => !!val || 'Balance is required']"
              />
            </div>
            <div>
              <q-btn color='primary' unelevated icon='add' @click='addDebit' />
            </div>
          </div>
        </div>

         <div class="column col-md-6 text-primary text-weight-bold q-gutter-y-sm">
          <div> Credit Entry</div>
           <div class="row q-gutter-x-lg">
            <div class='col-md-5 col-xs-12'>
              <q-select outlined v-model='entry.credit'
                        use-input
                        map-options
                        :options='accounts'
                        label='Credit'
                        :rules="[val => !!val || 'credit field is required']"
                        ref="journalCredit"
                        dense
              />
            </div>

            <div class='col-md-3 col-xs-12'>
              <q-input outlined v-model='entry.creditBal'
                      label='Credit Balance'
                      type='number'
                      ref="journalCreditBalance"
                      dense
                      :rules="[val => !!val || 'Balance is required']"
              />
            </div>
            <div>
              <q-btn color='primary' unelevated icon='add' @click='addCredit' />
            </div>
           </div>
        </div>
        
        <q-card flat class='col-md-6 row' 
        v-if="debitTrans.length">
          <div class='col-md-12 row'>
              <div class='q-pa-sm q-px-xl full-width'>
          <q-table
            :data='debitTrans'
            :columns='columns2'
            :rows-per-page-options='[10]'
            row-key='index'
            flat
         >
          <template v-slot:header="props">
        <q-tr :props="props">
          <q-th
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
            class="text-primary"
          >
            {{ col.label }}
          </q-th>
        </q-tr>
      </template>
            <q-td
            key='actions'
            slot='body-cell-actions'
            slot-scope='props'
            :props='props'
          >
            <q-btn
              round
              color='primary'
              icon='edit'
              @click='debitEditItem(props.rowIndex)'
            />
            <q-btn
              round
              color='primary'
              icon='delete'
               @click='debitTrans.splice(props.rowIndex,1)'
             
            />
          </q-td>
          </q-table>
        </div>
              
            </div>
        </q-card>
        <div v-else></div>
          
          <q-card flat class='col-md-6 row' 
        v v-if="creditTrans.length">
              <div class='col-md-12 row'>
          
              <div class='q-pa-sm q-px-xl full-width'>
                <q-table
                  :data='creditTrans'
                  :columns='columns3'
                  
                  :rows-per-page-options='[10]'
                  row-key='index'
                  flat
              >
               <template v-slot:header="props">
        <q-tr :props="props">
          <q-th
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
            class="text-primary"
          >
            {{ col.label }}
          </q-th>
        </q-tr>
      </template>
               <q-td
            key='actions'
            slot='body-cell-actions'
            slot-scope='props'
            :props='props'
          >
            <q-btn
              round
              color='primary'
              icon='edit'
            />
            <q-btn
              round
              color='primary'
              icon='delete'
             @click='creditTrans.splice(id,1)'
            />
          </q-td>
          </q-table>
            
              </div>
            </div>
         
        </q-card>
        <div v-else></div>
        <div class='col-md-12 row'>
          <q-input class='col-md-6 text-h6' outlined type='textarea' v-model='entry.remarks' label='Remarks' />
        </div>
        <div>
          <q-btn color='primary' unelevated @click="addTransactionData">Save</q-btn>
        </div>
      </q-form>

    </q-card>

    <q-card class='col-md-12 q-ma-md'>
      <div class='text-h6 q-pl-md'>Journal Enteries</div>
      <q-table

        :data='reqTableData'
        :columns='columns'
        :rows-per-page-options='[10]'
        row-key='index'
        flat
        separator='cell'
      >
        <template v-slot:body='props'>
          <q-tr :props='props'>
            <q-td key='sno' :props='props'>
              {{ props.row.sno }}
            </q-td>
            <q-td key='date' :props='props'>
              {{ props.row.date }}
            </q-td>
            <q-td key='particulars' :props='props'>
              <div class='q-gutter-y-sm'>
                <section>
                  <div v-for='(data,key) in props.row.particulars.debitTitle' :key='key'>
                    {{ data }}
                  </div>
                </section>
                <section class='q-pl-xl'>
                  <div v-for='(data,key) in props.row.particulars.creditTitle' :key='key'>
                    To, {{ data }}
                  </div>
                </section>
                <section class='row q-gutter-x-sm items-center text-weight-light'>
                  <q-icon name='chat_bubble' color='grey' />
                  <div>{{ props.row.particulars.remarks }}</div>
                </section>
              </div>
            </q-td>
            <q-td key='dr' :props='props'>
              <div class='q-pb-xl'>
                <section class='q-pb-lg'>
                  <div v-for='(data,key) in props.row.debitAmt' :key='key'>
                    {{ data }}
                  </div>
                </section>
              </div>
            </q-td>
            <q-td key='cr' :props='props'>
              <div class='q-pt-md'>
                <section class=''>
                  <div v-for='(data,key) in props.row.creditAmt' :key='key'>
                    {{ data }}
                  </div>
                </section>
              </div>
            </q-td>
            <q-td key='total' :props='props'>
              <div class='text-primary text-weight-bold'>
                {{ props.row.balance }}
              </div>
            </q-td>
            <q-td
              key='actions'
              :props='props'
            >
              <div class='q-gutter-x-sm'>
                <q-icon color='primary' size='sm' class='cursor-pointer' name='edit' @click='confirmEditBox(props.row)'
                />
                <q-icon color='primary' size='sm' class='cursor-pointer' name='delete'
                        @click='delSelectedEntry(props.row.id)'
                />
              </div>
            </q-td>
          </q-tr>
        </template>
      </q-table>
    </q-card>
  </main>
</template>

<script>
import { errorNotify } from 'src/utils/notify';
import { mapActions, mapState } from 'vuex';
import { nepToEng } from '../utils/nepToEngDateConvert';
import moment from 'moment';

export default {
  name: 'journalEntry',
  
  data() {
    return {
      notRequired: false,
      
      mockTableData: [
        {
          id: 'rowId',
          sno: 1,
          balance: '',
          remarks: 'Alpha test',
          particulars: {
            debitTitle: ['inventory', 'salary', 'cash'],
            creditTitle: ['Bank', 'creditors']
          },
          debitAmt: ['10000', '5000', '5000'],
          creditAmt: ['10000', '10000']
        }
      ],
      reqTableData: [],
      columns: [
        { name: 'sno',  align: 'left', label: 'SNO', field: 'sno', sortable: true },
        { name: 'date', align: 'center', label: 'Date', field: 'date', sortable: true },
        {
          name: 'particulars',
          required: true,
          label: 'Particulars',
          align: 'left',
          sortable: true
          
        },
        { name: 'dr', align: 'center', label: 'Debit (Rs)', field: 'dr', sortable: true },
        { name: 'cr', align: 'center', label: 'Credit (Rs)', field: 'cr', sortable: true },
        { name: 'total', align: 'center', label: 'Total (Rs)', field: 'total', sortable: true },
        
      ],

      columns2:[
        {
          name:'debit',
          required:true,
          label:'Particulars',
          field:'debit',
          align:'left',
          format:value=>value.label,
        },
        {
          name:'amount',
          align:'left',
          label:'Amount',
          field:'amount',
        },
        {
          name:'actions',
          align:'right',
          label:'Action',
          field:'actions'
        }

      ],
      columns3:[
        {
          name:'credit',
          required:true,
          label:'Particulars',
          field:'credit',
          align:'left',
          format:value=>value.label,
        },
        {
          name:'amount',
          align:'left',
          label:'Amount',
          field:'amount',
        },
        {
          name:'actions',
          align:'right',
          label:'Action',
          field:'actions'
        }

      ],
      

      accounts: [],
      filteredAccounts: [],
      entry: {
        debit: [],
        debitBal: '',
        credit: [],
        creditBal: '',
        remarks: ''
      },
      debitTrans: [],
      creditTrans: [],
      debitOption: [{
        label: 'test',
        value: 'tseteste'
      }, {
        label: 'ntst',
        value: 'tseteste'
      }],
      creditOption: [{
        label: 'check',
        value: 'tseteste'
      }, {
        label: 'lag',
        value: 'tseteste'
      }],
      allEntryData: [
        {
          sno: 1,
          particulars: 'tes',
          dr: 'test',
          cr: 'test',
          total: '5000'
        }
      ]

    };
  },
  computed: {
    ...mapState('booksOfAccount', ['listOfAccounts']),
    ...mapState('journal', ['listOfJournal', 'journal'])
  },
  created() {
    this.loadAllAccounts();
    this.loadEntry();
  },
  watch: {
    listOfAccounts: {
      handler: function(val) {
        this.accounts = val.map(v => ({
          label: v.name,
          value: v._id
        }));
      }
    },
    listOfJournal(val) {
      let filteredData = val.map((v, i) => ({
        date: this.dateFilter(v.createdAt),
        id: v._id,
        sno: i + 1,
        balance: v.balance,
        particulars: {
          debitTitle: this.getTitle(v.debit),
          creditTitle: this.getTitle(v.credit),
          remarks: v.remarks
        },
        debitAmt: this.getAmount(v.debit),
        creditAmt: this.getAmount(v.credit)
      }));
      this.reqTableData = filteredData;
    }

  },
  methods: {
    ...mapActions('booksOfAccount', ['loadAccounts']),
    ...mapActions('journal', ['addEntry', 'loadEntry', 'deleteEntry']),
    dateFilter(val){
      return  nepToEng(moment(val).format('YYYY-MM-DD'), 'nep');
    },
    filterFn(val, update) {
      this.filteredAccounts = this.accounts;
      if (val === '') {
        update(() => {
          this.filteredAccounts = this.accounts;
        });
        return;
      }
      update(() => {
        const needle = val;
        this.filteredAccounts = this.accounts?.filter(v =>
          v.label?.includes(needle)
        );
      });
    },
    delSelectedEntry(id) {
      this.deleteEntry(id);
      this.loadEntry();
    },
    getTitle(val) {
      let reqData = [];
      val.forEach(data => {
        reqData.push(data.particulars.name);
      });
      return reqData;
    },
    getAmount(val) {
      let reqData = [];
      val.forEach(data => {
        reqData.push(data.balance);
      });
      return reqData;
    },
    async addTransactionData() {
     if(this.debitTrans=='' || this.creditTrans=='')
     {
       errorNotify('Please insert all the data')
     }
     else{     
      let debitRes = this.debitTrans.map(v => ({ particulars: v.debit.value, type: v.type, balance: v.amount }));
      let creditRes = this.creditTrans.map(v => ({ particulars: v.credit.value, type: v.type, balance: v.amount }));
      let reqBalDebit = 0;
      let reqBalCredit = 0;
      this.debitTrans.forEach(v => {
        reqBalDebit+= parseInt(v.amount);
      });
      this.creditTrans.forEach(v=>{
         reqBalCredit+=parseInt(v.amount)
         });
         if(reqBalCredit==reqBalDebit)
         {
            try {

              await this.addEntry({
                debit: debitRes,
                credit: creditRes,
                balance: reqBalDebit,
                remarks: this.entry.remarks
              });
              

              this.entry.remarks = '';
              this.debitTrans=[],
              this.creditTrans=[],
              this.loadEntry();

            } catch (error) {
              errorNotify('Plese insert all the data');
            } finally {
              await this.loadEntry();
            }
              }
         else
         {
           errorNotify("Debit and credit balance is not equal")
         }
     }

    },
    async loadAllAccounts() {
      await this.loadAccounts();
    },
    async addDebit() {
     try {
       if (this.entry.debit == '' || this.entry.debitBal == '') return errorNotify('Please insert the debit data');
        this.debitTrans.push({ debit: this.entry.debit, amount: this.entry.debitBal, type: 'Dr' });
       
     } catch (error) {
       errorNotify("Debit error",error)
       }
     finally{
        this.entry.debit='',
        this.entry.debitBal=''
       await this.loadEntry();
       this.$refs.journalDebit.resetValidation();
       this.$refs.journalDebitBalance.resetValidation();

     }
    
      

    },
    async addCredit() {
      try {
        if (this.entry.credit == '' || this.entry.creditBal == '') 
        return errorNotify('Please insert the Credit data');
        this.creditTrans.push({ credit: this.entry.credit, amount: this.entry.creditBal, type: 'Cr' });
          
      
      } catch (error) {
         errorNotify('Could no',error)
       }
      finally{
        this.entry.credit='',
        this.entry.creditBal=''
        await this.loadEntry();
       this.$refs.journalCredit.resetValidation();
        this.$refs.journalCreditBalance.resetValidation();

     }
      
    },
    debitEditItem(id) {
      // console.log('edit transactions',id);
    }
  }
};
</script>

<style scoped>

</style>
