<template>
  <main>
    <div>
      <div class="flex justify-center items-center  window-height">
        <q-card class=" text-center q-pa-lg">
          <div class="ktmpos-text q-py-md ">KTMPOS</div>
          <div class="q-pb-md text-h7">Please login to continue</div>

          <div class="q-pb-md">
            <q-input
              outlined
              label="Enter address or Username"
              dense
              v-model="Uname"
            />

            <div class="invalid-text text-right">*invalid email address</div>
          </div>
          <div class="q-pb-md">
            <q-input
              outlined
              dense
              label="Password"
              type="password"
              v-model="Password"
            />

            <div class="invalid-text text-right">*invalid password</div>
          </div>
          <div class="text-left q-pb-sm">
            <q-checkbox
              v-model="checked"
              class="text-h7
          text-weight-light"
              label="Remember me"
            />
          </div>
          <div class="q-pb-md">
            <q-btn
              class="login-button  text-h6 full-width q-mt-md"
              text-color="white"
              label="login"
            />
          </div>
          <div class="q-pb-md">
            <a href="" class="link-text forget-text text-h7"
              >Forgot your password?</a
            >
          </div>
          <div class="q-pb-md">
            Don’t have an account?<span>
              <a href="" class="link-text"> Signup here</a></span
            >
          </div>
        </q-card>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  name: 'Login',
  data() {
    return {
      Uname: '',
      Password: '',
      checked: 'true'
    };
  }
};
</script>

<style>
.ktmpos-text {
  color: #1a1c53;
  font-size: 55px;
  font-weight: 600;
}
.invalid-text {
  color: #ed2e7e;
}
.login-button {
  background-color: #1a1c53;
}
.link-text {
  text-decoration: none;
}
</style>
