<template>
  <main>
    <div class="flex justify-center q-pa-md">
      <LoginHeader />
    </div>
    <q-separator color="orange" />
    <div class="flex row justify-center login-height">
      <div class="column col-2 text-center  ">
        <div class="q-pb-xl q-pt-lg text-h6 ">
          To continue, log in to KTMPOS.
        </div>
        <div class="q-pb-lg">
          <q-input outlined label="Enter address or Username" v-model="Uname" />
        </div>
        <div class="q-pb-lg">
          <q-input
            outlined
            label="Password"
            type="password"
            v-model="Password"
          />
        </div>
        <div class="q-pb-md text-left">
          <q-checkbox
            v-model="checked"
            class="text-h6
          text-weight-light"
            label="Remember me"
          />
        </div>
        <div class="q-pb-lg">
          <q-btn
            class="login-button  text-h6 full-width q-mt-md"
            @click="login()"
            text-color="white"
            label="login"
          />
        </div>
        <div class="q-pb-md">
          <a href="" class="link-text forget-text text-h7"
            >Forgot your password?</a
          >
        </div>
        <q-separator color="grey-4" />
        <div class="q-pt-xl q-pb-md text-h6">Don’t have an account?</div>
        <div class="q-pb-xl">
          <q-btn
            outline
            label="SIGN UP FOR KTMPOS"
            color="dark"
            class="full-width q-py-xs"
          />
        </div>
        <q-separator color="grey-4" />
        <div class="q-pt-lg text-h6">
          <a href="#" class="link-text">
            <span class="text-blue-7 ">Terms of Use</span> &<span
              class="text-blue-7"
            >
              Privacy Policy</span
            >
          </a>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import LoginHeader from 'src/components/partials/LoginHeader.vue';


export default {
  components: { LoginHeader },
  
  data() {
    return {
      Uname: '',
      Password: '',
      checked: true
      
    };
  },
  methods: {
    login() {
      this.$router.push('/#');
    }
  }
};
</script>

<style>
.login-button {
  background-color: #ff7070;
}
.checkbox-button {
  color: #ff7070;
}

.forget-text {
  color: #ff7070;
}
.link-text {
  text-decoration: none;
}
.login-height {
  height: 90vh;
}
</style>
