<template>
  <main class="row screen">
    <div class="col-md-8 full-height">
      <POSTab />
    </div>
    <div class="col-md-4">
      <RightSideBarPos />
    </div>
  </main>
</template>
<script>
import RightSideBarPos from 'src/components/modules/PointOfSale/RightSideBar.pos.vue';
import POSTab from '../components/modules/PointOfSale/Tab.pos';
import { mapActions } from 'vuex';
export default {
  components: { POSTab, RightSideBarPos },
  created(){
    this.loadItems();
  },
  methods:{
    ...mapActions('pos',['loadItems'])
  },
};
</script>
