<template>
  <main class="screen q-px-lg">
    <q-card class="stocks-content">
      <q-card-section class="column q-mt-lg">
        <PurchaseSearchBar
          heading="Purchase History"
          buttonTitle="ADD NEW Transactions"
          searchLabel="Search by phone number, particular, name"
        />
        <TablePurchaseHistory />
      </q-card-section>
    </q-card>
  </main>
</template>

<script>
import PurchaseSearchBar from 'src/components/modules/PurchaseHistory/Purchase.SearchBar.vue';
import TablePurchaseHistory from 'src/components/modules/PurchaseHistory/Table.purchaseHistory.vue';
export default {
  components: { TablePurchaseHistory, PurchaseSearchBar }
};
</script>

<style></style>
