<template>
  <main class='q-pa-md-xl  row q-col-gutter-md'>
    <section class='col-md-12 col-xs-12'>
      <q-card class='q-pa-md'>
        <div class='row justify-between'>
          <div class='text-h6 q-pb-lg q-pl-md'>Add Recipient</div>
          <div>

            <q-btn label='Add User' v-if='!addUserInput' @click='addUserInput=true' color='primary' />
            <q-btn label='Cancel User' v-if='addUserInput' @click='addUserInput=false' color='primary' />
          </div>
        </div>

        <q-form class='row full-width q-col-gutter-md' v-if='addUserInput' @submit.prevent='addNewUser'>
          <div class='col-md-6 col-sm-6'>
            <q-input v-model='users.name' label='Name' outlined dense ref='name'
                     :rules="[val => !!val || 'Name is required']" />
          </div>
          <div class='col-md-6 col-sm-4'>
            <q-input v-model='users.balance' type='number' label='Balance' outlined dense ref='balance'
                     :rules="[val => !!val || 'Salary is required']" />
          </div>
          <div class='col-md-6 col-sm-4'>
            <q-input v-model='users.userDetails.address' label='Address' outlined dense ref='address'
                     :rules=" [val => !!val || 'Position is required']" />
          </div>
          <div class='col-md-6 col-sm-4'>
            <q-input v-model='users.userDetails.phone' type='number' label='Phone' outlined dense ref='phone' :rules="[
                val => !!val || 'Phone Number is required',
                val =>
                  val.toString().length < 11 ||
                  `Phone Number should less then 10  digits `,
                val =>
                  val.toString().length > 8 ||
                  `Phone Number should be atleast 9 digits`,
              ]" />
          </div>
          <div class='col-md-6 col-sm-4'>
            <q-input v-model='users.userDetails.vat' type='number' label='VAT' outlined dense ref='vat' />
          </div>
          <div class='col-md-6 col-sm-4'>
            <q-input v-model='users.userDetails.pan' type='number' label='PAN' outlined dense ref='pan' />
          </div>
          <div class='row justify-end col-md-12'>
            <q-btn color='primary' type='submit'>Add</q-btn>
          </div>
        </q-form>
      </q-card>
      <q-card class='q-mt-md q-pa-md'>
        <div class='text-h6 q-pb-md q-pl-md'>Record Of Recipient</div>
        <div class='q-pa-md'>
          <q-table
            :data='userData'
            :columns='columns'
            :rows-per-page-options='[10]'
            row-key='index'
            flat
          >
            <q-td
              key='actions'
              slot='body-cell-actions'
              slot-scope='props'
              :props='props'
            >
              <div class='q-gutter-x-xs'>
                <q-btn
                  round
                  color='primary'
                  icon='edit'
                  @click='confirmEditBox(props.row)'
                />
                <q-btn
                  round
                  color='primary'
                  icon='delete'
                  @click='deleteSelectedRecipient(props.row.rowId)'
                />
              </div>
            </q-td>
          </q-table>
        </div>
        <q-dialog v-model='confirm'>
          <q-card class='q-pa-md'>
            <div class='text-h6'>Are you sure you want to delete</div>
            <div class='flex justify-end q-mt-lg'>
              <q-btn @click='deleteConfirm' color='primary'>Confirm</q-btn>
              <q-btn class='q-ml-xs' @click='confirm=false' color='primary' outline>Cancel</q-btn>
            </div>
          </q-card>
        </q-dialog>
        <q-dialog v-model='confirmEdit'>
          <q-card class='q-pa-md'>
            <div class='text-h6'>Edit Recipient</div>
            <q-form class='column full-width q-mt-lg ' @submit.prevent='editSelectedRow'>
              <div class='col-md-12 col-sm-6'>
                <q-input v-model='editObj.name' label='Name' outlined dense
                         :rules="[val => !!val || 'name is required']" />
              </div>
              <div class='col-md-12 col-sm-4'>
                <q-input v-model='editObj.address' label='Address' outlined dense
                         :rules="[val => !!val || 'address is required']" />
              </div>
              <div class='col-md-12 col-sm-4'>
                <q-input v-model='editObj.phone' label='Phone' outlined dense :rules="[
                val => !!val || 'Phone Number is required',
                val =>
                  val.toString().length < 11 ||
                  `Phone Number should less then 10  digits `,
                val =>
                  val.toString().length > 8 ||
                  `Phone Number should be atleast 9 digits`,
              ]" />
              </div>
              <div class='col-md-12 col-sm-4'>
                <q-input v-model='editObj.pan' type='number' label='PAN (Optional)' outlined dense />
              </div>
              <div class='col-md-12 col-sm-4 q-py-md'>
                <q-input v-model='editObj.vat' type='number' label='VAT (Optional)' outlined dense />
              </div>
              <div class='col-md-12 col-sm-4'>
                <q-input v-model='editObj.balance' type='number' label='Balance' disable outlined dense
                         :rules="[val => !!val || 'balance is required']" />
              </div>
              <div class='col-md-2 col-sm-2 text-right q-mt-md'>
                <q-btn color='primary' type='submit'>Confirm</q-btn>
              </div>
            </q-form>
          </q-card>
        </q-dialog>
      </q-card>
    </section>
  </main>
</template>
<script>
import { errorNotify } from 'src/utils/notify';
import { mapActions, mapState } from 'vuex';

export default {
  name: 'Recipient',
  data() {
    return {
      addUserInput: false,
      users: {
        name: '',
        balance: '',
        userDetails: {
          address: '',
          phone: '',
          vat: '',
          pan: ''
        }
      },
      notRequired: false,
      name: '',
      salary: '',
      position: '',
      address: '',
      phone: '',
      vat: '',
      pan: '',
      selectedId: -1,
      categoryOptions: [],
      editObj: {
        name: '',
        salary: 0,
        address: '',
        balance: 0,
        phone: '',
        vat: '',
        pan: '',
        _id: -1
      },
      confirm: false,
      confirmEdit: false,
      columns: [
        { name: 'name', align: 'center', label: 'Name', field: 'name', sortable: true },
        { name: 'phone', align: 'center', label: 'Phone', field: 'phone', sortable: true },
        { name: 'balance', align: 'center', label: 'Balance', field: 'balance', sortable: true },
        { name: 'address', align: 'center', label: 'Address', field: 'address', sortable: true },
        { name: 'pan', align: 'center', label: 'PAN', field: 'pan', sortable: true },
        { name: 'vat', align: 'center', label: 'VAT', field: 'vat', sortable: true },
        { name: 'actions', align: 'center', label: 'Actions', field: 'actions', sortable: true }
      ],
      userData: []
    };
  },
  computed: {
    ...mapState('user', ['listOfUser'])
  },
  watch: {
    listOfUser(val) {
      let totalReqData = [];
      val.forEach(data => {
        let tempData = data;
        totalReqData = totalReqData.concat(tempData);
      });
      this.userData = totalReqData.map(v => (
        {
          address: v?.userDetails?.address || '---',
          createdAt: v?.userDetails?.createdAt || '---',
          name: v?.userDetails?.name || '---',
          pan: v?.userDetails?.pan || '---',
          phone: v?.userDetails?.phone || '---',
          updatedAt: v?.userDetails?.updatedAt || '---',
          vat: v?.userDetails?.vat || '---',
          balance: v?.balance || '---',
          rowId: v?._id,
          userId: v?.userDetails._id,
        }
      ));
    },
    listOfCategory(val) {
      this.categoryOptions = val.map(v => ({
        label: v.name,
        value: v.id
      }));
    }
  },
  async mounted() {
    await this.loadUser();
  },
  methods: {
    ...mapActions('user', ['loadUser', 'addUser','editRecipient','deleteRecipient']),
    async loadAllRecipient() {
      await this.loadUser();
    },
    async addNewUser() {
      try {
        await this.addUser(this.users);
        
        this.users.name = '';
        this.users.balance = '',
          this.users.userDetails.address = '',
          this.users.userDetails.phone = '',
          this.users.userDetails.vat = '',
          this.users.userDetails.pan = '';
         
      } catch (error) {
        errorNotify('Please insert all the data', error);
      } finally {
        await this.loadUser();
        this.$refs.name.resetValidation();
        this.$refs.balance.resetValidation();
        this.$refs.address.resetValidation();
        this.$refs.phone.resetValidation();
        this.$refs.vat.resetValidation();
        this.$refs.pan.resetValidation();
      }
    },
    async deleteConfirm() {
      if (this.selectedId !== -1) {
        await this.deleteRecipient(this.selectedId);
        await this.loadAllRecipient();
        this.confirm = false;
      }
    },
    async confirmEditBox(row) {
      this.editObj={
        name: row.name,
        address: row.address,
        phone: row.phone,
        vat: row.vat,
        pan: row.pan,
        balance: row.balance,
        userId:row.userId,
        rowId:row.rowId
      }
      this.confirmEdit = true;
    },
    async editSelectedRow() {
      if (this.editObj._id !== -1) {
        await this.editRecipient(this.editObj);
        await this.loadAllRecipient();
        this.editObj = {
          name: '',
          salary: 0,
          address: '',
          balance: 0,
          phone: '',
          vat: '',
          pan: '',
          _id: -1
        };
        this.confirmEdit = false;
      }
    },
    async deleteSelectedRecipient(id) {
      this.confirm = true;
      this.selectedId = id;
    }
  }
};
</script>
