<template>
  <main class='row q-col-gutter-md q-pa-md-md '>
    <div class='col-md-12 col-xs-12 column row-xs q-col-gutter-md-md'>
      <div class='col-md-2 col-xs-12 row-xs'>
        <q-card class='bg-white q-pa-sm col-md-2 col-xs-12 full-height' flat bordered>
          <div class='text-h5 q-mb-xs q-pb-md q-pl-md'>Add Salary entry</div>
          <q-form class='row q-col-gutter-md q-pb-md q-pl-md' @submit.prevent='addTransactionData'>
            <div class='col-md-2 col-xs-10 '>
              <q-select
                v-model='debit'
                use-input
                input-debounce='0'
                label='Select Employee'
                :options='filteredEmployeeNames'
                @filter='filterFn'
                ref='salaryEmployee'
                map-options
                emit-value
                dense
                outlined
                :rules="[val => !!val || 'Employee Name is required']"
              >
                <template v-slot:no-option>
                  <q-item>
                    <q-item-section class='text-grey'>
                      No results
                    </q-item-section>
                  </q-item>
                </template>
              </q-select>
            </div>
           
            <div class='col-md-2 col-xs-2 row-xs justify-xs-center'>
              <q-select class='full-width' outlined v-model='credit'
                        map-options
                        emit-value
                        ref='salaryMethod'
                        :options='creditOptions' label='Method'
                        dense
              />
            </div>
            <div class='col-md-2 col-xs-12'>
              <q-input outlined v-model='balance'
                       label='Balance'
                       ref='salaryBalance'
                       type='number'
                       dense
                       :rules=" [val => !!val || 'Balance is required']"
                       
                       
              />

            </div>
            <q-space></q-space>
            <div>
              <q-btn color='primary' unelevated type='submit'>Add</q-btn>
            </div>
          </q-form>
        </q-card>
      </div>
      <div class='col-md-9 col-xs-12'>
        <q-card class='bg-white q-pa-sm col-md-10' flat bordered>
          <div class='row'>
            <div class='text-h6 q-pb-md q-pl-md'>Entries for the day of</div>
            <q-space />
            <div class='text-subtitle1 col-md-2 col-lg-1'>
              <q-select label='Select Period' outlined v-model='period'
                        :options='["Today","This Week","This Month", "All"]' />
            </div>
          </div>
          <q-table :columns='columns' :data='rows'>
            <q-td
              key='actions'
              slot='body-cell-actions'
              slot-scope='props'
              :props='props'
            >
              <q-btn
                round
                color='primary'
                icon='edit'
                @click='confirmEditBox(props.row)'
              />
              <q-btn
                round outline
                color='primary'
                icon='delete'
                @click='deleteSelectedTransaction(props.row.id)'
              />
            </q-td>
          </q-table>
        </q-card>
      </div>
    </div>
    <q-dialog v-model='confirm'>
      <q-card class='q-pa-md'>
        <div class='text-h6'>Are you sure you want to delete</div>
        <div class='flex justify-end q-mt-lg'>
          <q-btn @click='deleteConfirm' color='primary'>Confirm</q-btn>
          <q-btn class='q-ml-xs' @click='confirm=false' color='primary' outline>Cancel</q-btn>
        </div>
      </q-card>
    </q-dialog>
    <q-dialog v-model='confirmEdit'>
      <q-card class='q-pa-md'>
        <div class='text-h6'>Edit Transaction</div>
        <q-form class='column full-width q-mt-lg' @submit.prevent='editSelectedRow'>
          <div class='col-md-12 col-sm-6'>
            <q-input v-model='editObj.particulars' label='Particulars' disable outlined dense />
          </div>
          <div class='col-md-12 col-sm-4 q-mt-md'>
            <q-input v-model='editObj.balance' label='Balance' type='number' outlined dense />
          </div>
          <div class='col-md-2 col-sm-2 text-right q-mt-md'>
            <q-btn color='primary' type='submit'>Confirm</q-btn>
          </div>
        </q-form>
      </q-card>
    </q-dialog>

     <q-dialog v-model='confirmSalary'>
      <q-card class='q-pa-md'>
        <div class='text-body'>{{balance > userSalary ? 'More than actual salary !! Do you want to continue?' : 'Less than actual salary !! Do you want to continue?' }}</div>
        <div class='flex justify-end q-mt-lg'>
          <q-btn  color='primary'  v-close-popup  >Confirm</q-btn>
          <q-btn class='q-ml-xs' color='primary' @click=cancelSalary v-close-popup outline>Cancel</q-btn>
        </div>
      </q-card>
    </q-dialog>
  </main>
</template>
<script>
import { mapActions, mapState } from 'vuex';
import moment from 'moment';
import { nepToEng } from '../utils/nepToEngDateConvert';
import { errorNotify } from 'src/utils/notify';

export default {
  data() {
    return {
      notRequired: false,
      maximumValue: false,
      requiredSalary:'',
      selectedId: -1,
      confirm: false,
      confirmEdit: false,
      confirmSalary:false,
      confirmSalaryLess:false,
      period: 'Today',
      debit: '',
      credit: '',
      balance: '',
      newVal:'',
      balanceCheck: '',
      editObj: {
        debit: '',
        credit: '',
        balance: 0,
        _id: -1,
        particulars: ''
      },
      rows: [],
      accounts: [],
      columns: [
        {
          name: 'date', align: 'center', label: 'Date', field: 'date',
          format: val => nepToEng(moment(val).format('YYYY-MM-DD'), 'nep'),
          sortable: true
        },
        {
          name: 'particulars',
          required: true,
          label: 'Particulars',
          align: 'left',
          field: 'particulars',
          sortable: true
        },
        { name: 'debit', align: 'center', label: 'Debit', field: 'debit', sortable: true, format: (val) => val.label },
        {
          name: 'credit',
          align: 'center',
          label: 'Credit',
          field: 'credit',
          sortable: true,
          format: (val) => val.label
        },
        { name: 'balance', align: 'center', label: 'Balance', field: 'balance', sortable: true },
        { name: 'actions', align: 'center', label: 'Actions', field: 'actions', sortable: true }
      ],
      employeeNames: [],
      filteredEmployeeNames: [],
      employeeOptions: [],
      creditOptions: [],
      model: ''
    };
  },
  computed: {
    ...mapState('transaction', ['listOfTransactions']),
    ...mapState('booksOfAccount', ['listOfAccounts']),
    ...mapState('employee', ['listOfEmployees']),
    today() {
      return moment(new Date()).format('MMM DD, YYYY');
    },
    userSalary(){
let data = this.employeeNames.filter(v => v.value === this.debit)[0]?.salary || 0;
return Number(data)
    }
  },
  watch: {
    debit(val) {
     
       this.balance=this.userSalary;
      
    },
    balance(val){
      if(val != this.userSalary){
this.confirmSalary = true;
return val;
}

     
    },
    addTransaction() {
      this.addTransaction();
    },
    listOfEmployees(val) {
      
      this.employeeNames = val.map(v =>
        ({
          label: v.name,
          value: v.userId,
          phone: v.phone,
          salary: v.salary
        })
      );
    },
    listOfTransactions(val) {
      
      this.rows = val.filter(v => moment(new Date(v._id)).format('MMM DD, YYYY') === this.today);
      this.rows = this.reqTableData(this.rows);
    },
    async listOfAccounts(val) {
      this.accounts = val.map(v => ({
        label: v.name,
        value: v._id
      }));
      this.creditOptions = val.filter(v => ['Cash', 'Credit', 'Bank'].includes(v.name)).map(v => ({
        label: v.name,
        value: v._id
      }));
      this.credit = this.creditOptions[0].value;
    },
    period(val) {
      if (val === 'Today') {
        this.rows = this.listOfTransactions.filter(v => moment(new Date(v._id)).format('MMM DD, YYYY') === this.today);
        this.rows = this.reqTableData(this.rows);
      } else if (val === 'This Week') {
        this.rows = this.listOfTransactions.filter(v => moment(new Date(v._id)).isBetween(moment(new Date()).startOf('week'), moment(new Date()).endOf('week')));
        this.rows = this.reqTableData(this.rows);
      } else if (val === 'This Month') {
        this.rows = this.listOfTransactions.filter(v => moment(new Date(v._id)).isBetween(moment(new Date()).startOf('month'), moment(new Date()).endOf('month')));
        this.rows = this.reqTableData(this.rows);
      } else {
        this.rows = this.reqTableData(this.listOfTransactions);
      }
    }
  },
  methods: {
    ...mapActions('transaction', ['loadSalaries', 'addSalary', 'editTransaction', 'deleteTransaction','editSalary']),
    ...mapActions('booksOfAccount', ['loadAccounts']),
    ...mapActions('employee', ['loadEmployeesNames']),
    filterFn(val, update) {
      this.filteredEmployeeNames = this.employeeNames;
      if (val === '') {
        update(() => {
          this.filteredEmployeeNames = this.employeeNames;
        });
        return;
      }
      update(() => {
        const needle = val;
        this.filteredEmployeeNames = this.employeeNames.filter(v =>
          v.label.includes(needle)
        );
      });
    },
    reqTableData(val) {
      let totalReqData = [];
      val.forEach(data => {
        let tempData = data.transaction.map(rowData => ({
          date: rowData?.createdAt,
          balance: rowData?.balance,
          id: rowData?._id,
          debit: {
            value: rowData?.debit[0]?._id || '---',
            label: rowData?.debit[0]?.name || '---'
          },
          credit: {
            value: rowData?.credit[0]._id,
            label: rowData?.credit[0].name
          },
          particulars: rowData?.particulars
        }));
        totalReqData = totalReqData.concat(tempData);
      });
      return totalReqData;
    },
    filterItems(val) {
      let reqVal;
      this.accounts.forEach(check => {
        if (check?.value === val) {
          reqVal = {
            label: check.label,
            value: check.value
          };
        }
      });
      return reqVal;
    },
    async addTransactionData() {
      let reqData = this.listOfEmployees.filter(v => (v.userId === this.debit));

      let data = {
        receiver: reqData[0].bookOfAccount,
        method: this.credit,
        balance: this.balance,
      };
      try {
        await this.addSalary(data);
        this.debit = '',
          this.credit = '',
          this.balance = '';

      } catch (error) {
        errorNotify('Please insert data', error);
      } finally {
        await this.loadAccounts();
        
        this.$refs.salaryEmployee.resetValidation();
        this.$refs.salaryMethod.resetValidation();
        this.$refs.salaryBalance.resetValidation();
        await this.loadSalaries();
      }
    },
    async deleteConfirm() {
      if (this.selectedId !== -1) {
        this.confirm = false;
        await this.deleteTransaction(this.selectedId);
        await this.loadAccounts();
        await this.loadSalaries();
      }
    },
     async cancelSalary()
    {
      this.balance=this.userSalary;

     
    },
    
    async confirmEditBox(row) {
      this.editObj = {
        particulars: row.particulars,
        bill: row.bill,
        credit: row.credit,
        debit: row.debit,
        _id: row.id,
        balance: row.balance
      };
      this.confirmEdit = true;
    },
    async editSelectedRow() {
      let reqData = {
        'balance': parseInt(this.editObj.balance),
        '_id': this.editObj._id,
        'receiver': this.editObj.debit.value,
        'method': this.editObj.credit.value
      };
      if (this.editObj._id !== -1) {
        await this.editSalary(reqData);
        await this.loadSalaries();
        this.editObj = {
          ...this.editObj,
          _id: -1
        };
        this.confirmEdit = false;
      }
    },
    async deleteSelectedTransaction(id) {
      this.confirm = true;
      this.selectedId = id;
    }
  },
  async created() {
    await Promise.all([this.loadAccounts(), this.loadEmployeesNames(),this.loadSalaries()]);
   

  }
};
</script>
