<template>
  <main class="screen q-px-lg">
    <q-card class="stocks-content">
      <q-card-section class="column q-mt-lg">
        <SalesSearchBar
          heading="Sales History"
          buttonTitle="ADD NEW Transactions"
          searchLabel="Search by phone number, particular, name"
        />
        <TableSalesHistory />
      </q-card-section>
    </q-card>
  </main>
</template>

<script>
import SalesSearchBar from 'src/components/modules/SalesHistory/Sales.SearchBar.vue';
import TableSalesHistory from 'src/components/modules/SalesHistory/Table.salesHistory.vue';
export default {
  components: { SalesSearchBar, TableSalesHistory }
};
</script>

<style></style>
