<template>
  <main class='row screen'>
     <q-card class='stock-content'>
       <div class='row'>
         <div class='col-md-4'>Average stock</div>
         <div class='col-md-4'>Stock requirement</div>
         <div class='col-md-4'>Stock refill count down</div>
       </div>
       <div class='row'>

       </div>
     </q-card>
  </main>
</template>
<script>
export default {
}
</script>
