<template>
  <main class="row screen  q-px-lg ">
    <div  class="col-9">
    <q-card class="stocks-content ">
      <q-card-section class="column q-mt-lg">
       <StockSearchBar heading="Stocks" buttonTitle="ADD NEW STOCKS" searchLabel="Search by products"/>
        <TableAddStocks/>
        
      </q-card-section>
    </q-card>
    </div>
    <div class=" col-3 q-pa-md ">
      <category heading="Stock Category" />
      </div>
  </main>
</template>

<script>
import StockSearchBar from 'src/components/modules/Stocks/StockSearchBar.vue';
import TableAddStocks from 'src/components/modules/Stocks/Table.AddStocks.vue';
import Category from 'src/components/modules/Stocks/Category.vue';



export default {
    components:{TableAddStocks, StockSearchBar, Category},
   
};
</script>

<style>