<template>
  <main class='q-pa-md-xl'>
    <q-card class='q-pa-md-md q-pa-xs-sm'>
      <div class='text-h6 q-pb-md q-pl-md'>Add Books of warehouse</div>
      <q-form class='row full-width q-col-gutter-md' @submit.prevent='addNewWarehouse'>
        <div class='col-md-6 col-sm-6'>
          <q-input v-model='name' label='Name' outlined dense  :rules="[val => !!val || 'Name is required']" />
        </div>
        <div class='col-md-4 col-sm-4'>
          <q-input v-model='location' label='Location' outlined dense  :rules="[val => !!val || 'Location is required']" />
        </div>
        <div class='col-md-2 col-sm-2 text-right'>
          <q-btn color='primary' type='submit'>Add</q-btn>
        </div>
      </q-form>
    </q-card>
    <q-card class='q-mt-md q-pa-md'>
      <div class='text-h6 q-pb-md q-pl-md'>Warehouse</div>
      <div class='q-pa-md'>
        <q-table
          :data='warehouses'
          :columns='columns'
          :rows-per-page-options="[10]"
          row-key='index'
          flat
        >
          <q-td
            key='actions'
            slot='body-cell-actions'
            slot-scope='props'
            :props='props'
          >
            <q-btn
              round
              color='primary'
              icon='edit'
              @click='confirmEditBox(props.row)'
            />
            <q-btn
              round
              color='primary'
              icon='delete'
              @click='deleteSelectedWarehouse(props.row._id)'
            />
          </q-td>
        </q-table>
      </div>
      <q-dialog v-model='confirm'>
        <q-card class='q-pa-md'>
          <div class='text-h6'>Are you sure you want to delete</div>
          <div class='flex justify-end q-mt-lg'>
            <q-btn @click='deleteConfirm' color='primary'>Confirm</q-btn>
            <q-btn class='q-ml-xs' @click='confirm=false' color='primary' outline>Cancel</q-btn>
          </div>
        </q-card>
      </q-dialog>
      <q-dialog v-model='confirmEdit'>
        <q-card class='q-pa-md'>
          <div class='text-h6'>Edit Warehouse</div>
          <q-form class='column full-width q-mt-lg' @submit.prevent='editSelectedRow'>
            <div class='col-md-12 col-sm-6'>
              <q-input v-model='editObj.name' label='Name' outlined dense />
            </div>
            <div class='col-md-12 col-sm-4 q-mt-md'>
              <q-input v-model='editObj.location' label='Balance' outlined dense />
            </div>
            <div class='col-md-2 col-sm-2 text-right q-mt-md'>
              <q-btn color='primary' type='submit'>Confirm</q-btn>
            </div>
          </q-form>
        </q-card>
      </q-dialog>
    </q-card>
  </main>
</template>
<script>
import { mapActions, mapState } from 'vuex';

export default {
  name: 'BooksOfWarehouse',
  data() {
    return {
      name: '',
      location: '',
      editObj: {
        name: '',
        location: 0,
        _id: -1
      },
      selectedId: -1,
      confirm: false,
      confirmEdit: false,
      columns: [
        {
          name: 'name',
          required: true,
          label: 'Name',
          align: 'left',
          field: row => row.name,
          format: val => `${val}`,
          sortable: true
        },
        { name: 'location', align: 'center', label: 'Location', field: 'location', sortable: true },
        { name: 'actions', align: 'center', label: 'Actions', field: 'actions', sortable: true }
      ],
      rows: [
        { name: 'Salary', balance: 0 },
        { name: 'Prepaid Salary', balance: 2000 },
        { name: 'Stationery', balance: 3000 },
        { name: 'Salary', balance: 0 }
      ],
      warehouses: []
    };
  },
  computed: {
    ...mapState('warehouse', ['listOfWarehouses'])
  },
  watch: {
    listOfWarehouses(newVal) {
      this.warehouses = newVal;
    }
  },
  async mounted() {
    await this.loadAllWarehouses();
  },
  methods: {
    ...mapActions('warehouse', ['loadWarehouses', 'addWarehouse', 'deleteWarehouse', 'editWarehouse']),
    async loadAllWarehouses() {
      await this.loadWarehouses();
    },
    async addNewWarehouse() {
      await this.addWarehouse({
        name: this.name,
        location: this.location
      });
      await this.loadWarehouses();
    },
    async deleteConfirm() {
      if (this.selectedId !== -1) {
        await this.deleteWarehouse(this.selectedId);
        await this.loadAllWarehouses();
        this.selectedId = -1;
        this.confirm = false;
      }
    },
    async confirmEditBox(row) {
      this.editObj = { ...row };
      this.confirmEdit = true;
    },
    async editSelectedRow() {
      if (this.editObj.id !== -1) {
        await this.editWarehouse(this.editObj);
        await this.loadAllWarehouses();
        this.editObj = {
          id: -1,
          name: '',
          balance: 0
        };
        this.confirmEdit = false;
      }
    },
    async deleteSelectedWarehouse(id) {
      this.selectedId = id;
      this.confirm = true;
    }
  }
};
</script>
