<template>
  <main class="screen q-pa-lg">
    <q-card>
      <AddSalesForm title="Add Sales Transaction" />
      <SalesOrderItems />
    </q-card>
  </main>
</template>

<script>
import AddSalesForm from '../AddSalesTransaction/AddSalesForm.vue';
import SalesOrderItems from '../AddSalesTransaction/Sales.OrderItems.vue';
export default {
  components: {
    SalesOrderItems,
    AddSalesForm
  }
};
</script>

<style></style>
