<template>
  <main>
    <div class="q-pa-md">
      <q-table :data="data" :columns="columns" row-key="date" flat bordered>
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td>
              <q-btn
                :icon="!idShow ? 'expand_more' : 'expand_less'"
                round
                dense
                color="primary"
                @click="idShow = !idShow"
              />
            </q-td>
            <q-td :props="props.col" v-for="row in props.row" :key="row.id">
              {{ row }}
            </q-td>
            <q-td class="row justify-end ">
              <q-btn color="primary" round dense icon="edit" class="q-mr-md" />
              <q-btn color="primary" round dense icon="delete" />
            </q-td>
          </q-tr>
          <q-tr v-if="idShow">
            <q-tr>
              <q-th>Date</q-th>
              <q-th>Quantity</q-th>
              <q-th>Unit</q-th>
              <q-th>Rate</q-th>
              <q-th>Total Amount</q-th>
            </q-tr>
            <q-tr>
              <q-td>2065-12-10</q-td>
            </q-tr>
          </q-tr>
        </template>
      </q-table>
    </div>
  </main>
</template>

<script>
export default {
  name: 'TableSalesHistory',
  data() {
    return {
      idShow: '',
      columns: [
        { name: 'expand', label: '', field: 'expand' },
        {
          name: 'date',
          required: true,
          label: 'Date',
          align: 'left',
          field: 'date',
          sortable: true
        },
        {
          name: 'particulars',
          label: 'Particulars',
          field: 'particulars',
          align: 'left'
        },
        { name: 'receipt', label: 'Receipt', field: 'receipt', align: 'left' },
        { name: 'type', label: 'Type', field: 'type', align: 'left' },
        {
          name: 'totalAmount',
          label: 'Total Amount',
          field: 'totalAmount',
          align: 'left'
        },
        { name: 'action', label: 'Action', field: 'action' }
      ],
      data: [
        {
          date: '2078-3-1',
          particulars: 'Product1',
          receipt: 0,
          type: 0,
          totalAmount: 120
        },
        {
          date: '2078-3-2',
          particulars: 'Product2',
          receipt: 0,
          type: 0,
          totalAmount: 1500
        }
      ]
    };
  }
};
</script>

<style></style>
