<template>
  <q-header
    bordered
    class="bg-white q-px-md-xl q-py-md-sm flex justify-between items-center text-dark"
  >
    <div class="logo text-h5 text-weight-bold">
      <a href="" style="text-decoration:none " class='q-pl-xs-md  text-primary'> Nepal Wood Crafts</a>
    </div>

    <div class="nav-items flex">

      <q-btn-dropdown class="nav-item" flat :label='title'>
        <q-list v-for='(v,key) in menulist' :key='key'>
          <q-item clickable v-close-popup @click="changeRoute(v.path)">
            <q-item-section>
              <q-item-label>{{ v.name }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-btn-dropdown>

      <q-avatar>
        <img src="https://cdn.quasar.dev/img/avatar.png" />
      </q-avatar>
    </div>
  </q-header>
</template>
<script>
import { MENULIST } from '../../utils/menulist';

export default {
  name: 'ContainerHeader',
  data(){
    return {
     menulist: MENULIST,
     title:'Management'
    }
  },
  created(){
      if(this.$route.name=="billEdit")
      {
        this.title="BILL"
      }
      else{
        this.title= this.$route.name;
      }

  },
    watch:{
    $route(){
if(this.$route.name=="billEdit")
      {
        this.title="BILL"
      }
      else{
        this.title= this.$route.name;
    }
    }
    },
  methods: {
    changeRoute(v){
      this.$router.push(v);
    }
  }
};
</script>
<style>
</style>
