<template>
  <main>
    <div class="ktmpos-text">
      KTMPOS
    </div>
  </main>
</template>

<script>
export default {
  name: 'LoginHeader'
};
</script>

<style lang="scss">
.ktmpos-text {
  color: #ff7070;
  font-size: 24px;
  font-weight: 600;
}
</style>
