<template>
  <main>
    <div class="flex justify-end">
      <q-btn color="primary" @click="newPayment = true">Add New Payment</q-btn>
    </div>
    <q-dialog v-model="newPayment">
      <q-card class=" q-pa-md ">
        <div class="text-h5">Add Employee Payment</div>
        <div class="row col-12 q-pt-md q-col-gutter-sm ">
          <div class="col-6">
            <q-input color="black" filled type="date" v-model="employee.date">
              <template v-slot:prepend> <q-icon name="date_range" /> </template
            ></q-input>
          </div>

          <div class="col-6">
            <q-input
              color="black"
              filled
              label="Enter Particulars"
              v-model="employee.particulars"
            >
              <template v-slot:prepend> <q-icon name="list" /> </template>
            </q-input>
          </div>
        </div>
        <div class="row col-12 q-pt-md q-col-gutter-sm ">
          <div class=" col-6">
            <q-input
              color="black"
              filled
              label="Enter employee name"
              v-model="employee.name"
            >
              <template v-slot:prepend>
                <q-icon name="person" />
              </template>
            </q-input>
          </div>
          <div class=" col-6">
            <q-input
              color="black"
              type="number"
              filled
              label="Enter amount paid "
              v-model="employee.amount"
            >
              <template v-slot:prepend> <q-icon name="local_atm" /> </template>
            </q-input>
          </div>
        </div>
        <div class="row col-12 q-pt-md q-col-gutter-sm ">
          <div class="col-6">
            <q-input
              color="black"
              class="col-6"
              filled
              type="textarea"
              v-model="employee.remarks"
              label="Enter remarks"
            >
            </q-input>
          </div>
          <div class="col-6">
            <q-select
              color="black"
              class="col-6"
              filled
              label="payment method"
              v-model="employee.method"
              :options="option"
            >
              <template v-slot:prepend> <q-icon name="local_atm" /> </template>
            </q-select>
          </div>
        </div>

        <q-separator class="q-mt-lg" />
        <div class="row justify-end q-pt-lg">
          <div>
            <q-btn class="q-pa-xs" color="primary">SAVE </q-btn>
          </div>
          <div>
            <q-btn
              class="q-pa-xs q-ml-sm"
              outline
              style="color: primary"
              label="CANCEL"
              v-close-popup
            />
          </div>
        </div>
      </q-card>
    </q-dialog>
  </main>
</template>

<script>
export default {
  name: 'EmployeePayment',
  data() {
    return {
      newPayment: false,
      employee: {
        date: '',
        particulars: '',
        name: '',
        amount: '',
        remarks: '',
        method: ''
      },
      option: ['CASH', 'CHEQUE']
    };
  }
};
</script>

<style></style>
