<template>
  <q-card-section class='row q-col-gutter-md'>
    <div class='col-md-3'>
      <q-card class='full-height column'>
        <KPICard title='Total amount due' value='52000' icon='local_atm' card-class='col-md-6'/>
        <KPICard title='No. of employees' value='12' icon='local_atm' card-class='col-md-6'/>
      </q-card>
    </div>
    <div class='col-md-3'>
      <TotalSalary />
    </div>
    <div class='col-md-3'>
      <SalaryDistribution />
    </div>
    <div class='col-md-3'>
      <q-card class='full-height column'>
        <KPICard
          title='Total paid last month'
          value='1,82,000'
          icon='local_atm'
          card-class='col-md-6'
        />
        <KPICard title='Total of this month' value='1,79,00' icon='local_atm' card-class='col-md-6' />
      </q-card>
    </div>
  </q-card-section>
</template>
<script>
import KPICard from '../../Common/KPICard';
import TotalSalary from './Charts/TotalSalary.chart';
import SalaryDistribution from './Charts/SalaryDistribution.chart';

export default {
  name: 'StatsEmployee',
  components: { SalaryDistribution, TotalSalary, KPICard },
  data() {
    return {
      employee: {
        title: '',
        amount: '',
        employeeNumber: ''
      }
    };
  }
};
</script>
