<template>
  <main>
    <div class="q-pa-md">
      <q-table :data="data" :columns="columns" row-key="index" flat bordered />
    </div>
  </main>
</template>
<script>
export default {
  name: 'TableEmployeeTransactions',

  data() {
    return {
      columns: [
        {
          name: 'particulars',
          label: 'Particulars',
          field: 'particulars',
          align: 'left'
        },
        {
          name: 'date',
          required: true,
          label: 'Date',
          align: 'left',
          field: 'date',
          sortable: true
        },
        {
          name: 'receipient',
          label: 'Receipient',
          field: 'receipient',
          align: 'left'
        },

        {
          name: 'totalAmount',
          label: 'Total Amount',
          field: 'totalAmount',
          align: 'left'
        }
      ],
      data: [
        {
          date: '2078-3-1',
          particulars: 'Product1',
          receipient: 0,
          totalAmount: 120
        }
      ]
    };
  }
};
</script>
