<template>
  <main class="screen q-px-lg">
    <div class="text-h5 q-py-lg q-px-sm">Add New Stock</div>
    <q-card class="employee-content">
      <div class="q-mb-lg">
        <div class="row ">
          <div class="col-6 q-mt-xl">
            <q-input
              filled
              label="Enter Product Name"
              v-model="product.name"
              class="q-mx-lg"
            />
          </div>
          <div class=" col-6 q-mt-xl">
            <q-input
              filled
              label="Enter Product initial Quantity"
              v-model="product.initialQuantity"
              size="50%"
              class=" q-mx-lg"
            />
          </div>
        </div>
        <div class="row ">
          <div class="col-4">
            <q-input
              filled
              v-model="product.price"
              label="Enter Product Price"
              class="q-ma-lg"
            />
          </div>
          <div class="col-2">
            <q-select
              filled
              label="Product Unit"
              v-model="product.unit"
              class="q-ma-lg"
            />
          </div>
          <div class="col-6">
            <q-input
              filled
              v-model="product.minimumQuantity"
              label="Enter Product Minimum Quantity"
              class="q-ma-lg"
            />
          </div>
        </div>
      </div>
      <div>
        <div class="text-h5 q-pl-lg">Product Composition</div>
        <div class="row items-center">
          <div class="col-3">
            <q-select
              filled
              label="Enter material"
              v-model="productComposition.material"
              class="q-ma-lg"
            />
          </div>
          <div class="col-1">
            <q-input
              filled
              label="Quantity"
              v-model="productComposition.quantity"
              class="q-ma-lg"
            />
          </div>
          <div class="text-center">
            <div>Unit</div>
            <div class="text-h5">KG</div>
          </div>
          <div>
            <q-input
              filled
              label="Rate"
              v-model="productComposition.rate"
              class="q-ma-lg"
            />
          </div>
          <div>
            <q-input
              filled
              label="Amount"
              v-model="productComposition.amount"
              class="q-ma-lg"
            />
          </div>
          <q-btn
            color="primary"
            padding="12px 14px"
            size="16px"
            label="ADD ITEM"
          />
        </div>
      </div>
    </q-card>
  </main>
</template>

<script>
export default {
  name: 'AddNewStockModule',
  data() {
    return {
      product: {
        name: '',
        initialQuantity: '',
        price: '',
        unit: '',
        minimumQuantity: ''
      },
      productComposition: {
        material: '',
        quantity: '',
        rate: '',
        amount: ''
      }
    };
  }
};
</script>

<style lang="scss">
.screen {
  background-color: #eeeeee;
}
.employee-content {
  height: 60%;
}
</style>
