<template>
  <main class="q-mt-lg q-pa-md">
    <div class="row justify-between">
      <div class="col-4 ">
        <q-input
          outlined
          label="Search by phone number, particular, name"
          class="inputField "
          icon="search"
        >
          <template v-slot:append> <q-icon name="search" /> </template
        ></q-input>
      </div>
      <div class="flex justify-end">
        <q-btn color="primary" @click="newEmployee = true"
          >Add New Employee</q-btn
        >
      </div>
    </div>
    <q-dialog v-model="newEmployee">
      <q-card class=" q-pa-md ">
        <div class="text-h5">Add Employee</div>
        <div class="row col-12 q-pt-md q-col-gutter-sm ">
          <div class="col-6">
            <q-input
              color="black"
              filled
              label="Enter name"
              v-model="employee.name"
            >
              <template v-slot:prepend> <q-icon name="person" /> </template
            ></q-input>
          </div>

          <div class="col-6">
            <q-input
              color="black"
              filled
              label="Joined date"
              type="date"
              v-model="employee.joined"
            >
              <template v-slot:prepend> <q-icon name="date_range" /> </template>
            </q-input>
          </div>
        </div>
        <div class="row col-12 q-pt-md q-col-gutter-sm ">
          <div class=" col-6">
            <q-input
              color="black"
              filled
              label="Enter address(opt)"
              v-model="employee.address"
            >
              <template v-slot:prepend>
                <q-icon name="location_on" />
              </template>
            </q-input>
          </div>
          <div class=" col-6">
            <q-input
              color="black"
              type="number"
              filled
              label="Enter balance"
              v-model="employee.balance"
            >
              <template v-slot:prepend> <q-icon name="local_atm" /> </template>
            </q-input>
          </div>
        </div>
        <div class="row col-12 q-pt-md q-col-gutter-sm ">
          <div class="col-6">
            <q-input
              color="black"
              class="col-6"
              filled
              label="Enter department(opt)"
              v-model="employee.department"
            >
              <template v-slot:prepend> <q-icon name="business" /> </template>
            </q-input>
          </div>
          <div class="col-6">
            <q-input
              color="black"
              class="col-6"
              filled
              label="Last paid date"
              v-model="employee.lastPaid"
              type="date"
            >
              <template v-slot:prepend> <q-icon name="date_range" /> </template>
            </q-input>
          </div>
        </div>

        <div class="row col-12 q-pt-md ">
          <div class="col-6">
            <q-input
              color="black"
              type="number"
              filled
              label="Enter phone"
              v-model="employee.phone"
            >
              <template v-slot:prepend>
                <q-icon name="phone_iphone" />
              </template>
            </q-input>
          </div>
        </div>
        <q-separator class="q-mt-lg" />
        <div class="row justify-end q-pt-lg">
          <div>
            <q-btn
              class="q-pa-xs"
              color="primary"
              @click="addNewEmployee(employee)"
              >SAVE
            </q-btn>
          </div>
          <div>
            <q-btn
              class="q-pa-xs q-ml-sm"
              outline
              style="color: primary"
              label="CANCEL"
              v-close-popup
            />
          </div>
        </div>
      </q-card>
    </q-dialog>
    <div class="q-mt-xl">
      <q-table :data="data" :columns="columns" row-key="index" flat bordered>
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td :props="props.col" v-for="row in props.row" :key="row.id">
              {{ row }}
            </q-td>
            <q-td class="row justify-end ">
              <q-btn color="primary" round dense icon="edit" class="q-mr-md" />
              <q-btn
                color="primary"
                round
                dense
                icon="delete"
                @click="deleteItem(props.row.__ob__.dep.id)"
              />
            </q-td>
          </q-tr>
        </template>
      </q-table>
    </div>
  </main>
</template>

<script>
export default {
  name: 'NewEmployee',
  data() {
    return {
      newEmployee: false,
      employee: {
        name: '',
        joined: new Date().toISOString().substr(0, 10),
        address: '',
        balance: '',
        department: '',
        lastPaid: new Date().toISOString().substr(0, 10),
        phone: ''
      },
      columns: [
        {
          name: 'Name',
          label: 'Name',
          field: 'Name',
          align: 'left'
        },

        {
          name: 'Phone',
          label: 'Phone',
          field: 'Phone',
          align: 'left'
        },

        {
          name: 'Address',
          label: ' Address',
          field: 'Address',
          align: 'left'
        },
        {
          name: 'Department',
          label: ' Department',
          field: 'Department',
          align: 'left'
        },
        {
          name: 'Balance',
          label: ' Balance',
          field: 'Balance',
          align: 'left'
        },

        {
          name: 'LastPaid',
          label: 'Last Paid Date',
          align: 'left',
          field: 'LastPaid'
        },
        {
          name: 'JoinedDate',
          label: 'Joined Date',
          align: 'left',
          field: 'JoinedDate'
        },
        { name: ' action ', label: 'Action', field: 'action' }
      ],
      data: []
    };
  },
  methods: {
    addNewEmployee(employee) {
      this.data.push({
        name: employee.name,
        phone: employee.phone,

        address: employee.address,

        department: employee.department,
        balance: employee.balance,
        lastPaid: employee.lastPaid,
        joined: employee.joined
      });
      (this.employee.name = ''),
        (this.employee.joined = new Date().toISOString().substr(0, 10));
      (this.employee.address = ''),
        (this.employee.balance = ''),
        (this.employee.department = ''),
        (this.employee.lastPaid = new Date().toISOString().substr(0, 10)),
        (this.employee.phone = '');
    },
    deleteItem(index) {
      let filterList = this.data.filter(function(value) {
        return value.__ob__.dep.id != index;
      });
      this.data = filterList;
    }
  }
};
</script>

<style></style>
