<template>
  <q-card-section class="row q-col-gutter-sm">
    <div class="col-md-3">
      <KPICard title="No. of employees" value="30" icon="person" />
      <div class="col-md-3"><EmployeesChart /></div>
    </div>
    <div class="col-md-4">
      <div class="col-md-3"><EmployeeByYearChart /></div>
    </div>
    <div class="col-md-4">
      <div class="col-md-3"><DepartmentsCharts /></div>
    </div>
  </q-card-section>
</template>
<script>
import KPICard from 'src/components/Common/KPICard.vue';
import EmployeeByYearChart from './Charts/EmployeeByYear.chart.vue';
import EmployeesChart from './Charts/Employees.chart.vue';
import DepartmentsCharts from './Charts/Departments.chart.vue';

export default {
  name: 'Statsemprecords',
  components: {
    KPICard,
    EmployeeByYearChart,
    EmployeesChart,
    DepartmentsCharts
  },
  data() {
    return {
      employee: {
        title: '',
        amount: '',
        employeeNumber: ''
      }
    };
  }
};
</script>
