<template>
  <q-card :class="`kpi-card q-pa-md full-width ${cardClass}`" flat>
    <div class='title'>
      <q-icon :name='icon'/>
      <div class='subtitle1'>{{ title }}</div>
    </div>
    <div class='value text-h4'> {{ value }}</div>
  </q-card>
</template>
<script>
export default {
  props:{
    cardClass:{
      type:String,
      default:''
    },
    title:{
      type: String,
      default: 'Title'
    },
    value:{
      type: String,
      default: 'Value'
    },
    icon:{
      type: String,
      default: 'home'
    }
  }
}
</script>
