<template>
  <main>
    <div class="row justify-between">
      <div class="text-h5">{{ heading }}</div>
      <q-btn color="primary" @click="addInventory = true">{{
        buttonTitle
      }}</q-btn>
    </div>
    <div class="row justify-between q-mt-xl items-center full-height">
      <div class="col-4 ">
        <q-input outlined :label="searchLabel" class="inputField" icon="search">
          <template v-slot:append> <q-icon name="search" /> </template
        ></q-input>
      </div>
      <div class="row col-6 justify-between items-center">
        <div>
          <q-input
            filled
            v-model="date"
            class="inputField"
            mask="date"
            :rules="['date']"
          >
            <template v-slot:append>
              <q-icon name="event" class="cursor-pointer">
                <q-popup-proxy
                  ref="qDateProxy"
                  transition-show="scale"
                  transition-hide="scale"
                >
                  <q-date v-model="date">
                    <div class="row items-center justify-end">
                      <q-btn v-close-popup label="Close" color="primary" flat />
                    </div>
                  </q-date>
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
        </div>
        <div class="text-center text-h6">to</div>
        <div>
          <q-input
            filled
            v-model="date"
            class="inputField"
            mask="date"
            :rules="['date']"
          >
            <template v-slot:append>
              <q-icon name="event" class="cursor-pointer">
                <q-popup-proxy
                  ref="qDateProxy"
                  transition-show="scale"
                  transition-hide="scale"
                >
                  <q-date v-model="date">
                    <div class="row items-center justify-end">
                      <q-btn v-close-popup label="Close" color="primary" flat />
                    </div>
                  </q-date>
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
        </div>
        <div>
          <q-btn color="primary q-pa-sm"
            ><q-icon name="search" size="30px"
          /></q-btn>
        </div>
      </div>
    </div>

    <q-dialog v-model="addInventory">
      <AddInventory />
    </q-dialog>
  </main>
</template>

<script>
import AddInventory from '../modules/Stocks/AddInventory.vue';
export default {
  name: 'Searchbar',
  components: { AddInventory },
  data() {
    return {
      addInventory: false,
      topPosition: 'top',
      save: false,
      date: '2021-07-13'
    };
  },
  props: {
    heading: {
      type: String
    },
    buttonTitle: {
      type: String
    },
    searchLabel: {
      type: String
    }
  }
};
</script>

<style>
.inputField {
  padding: 0px;
}
</style>
