<template>
  <main class=" q-ma-md">
    <div class="q-pa-md">
      <q-table :data="data" :columns="columns" row-key="index" />
    </div>
  </main>
</template>

<script>
export default {
  name: 'TableOrder',
  data() {
    return {
      columns: [
        {
          name: 'name ',
          label: 'Date',
          field: 'Name',
          format: val => `${val}`,
          align: 'left'
        },
        { name: 'Quantity ', label: 'Quantity', field: 'Quantity' },
        { name: 'Unit ', label: 'Unit', field: 'Unit' },
        { name: 'Rate ', label: 'Rate', field: 'Rate' },
        { name: 'TotalAmount ', label: 'Total Amount', field: 'TotalAmount' }
      ],
      data: [
        {
          name: '2078-3-1',
          Quantity: 5,
          Unit: 'KG',
          Rate: 700,
          TotalAmount: 3500
        },
        {
          name: '2078-3-1',
          Quantity: 5,
          Unit: KG,
          Rate: 700,
          TotalAmount: 3500
        }
      ]
    };
  }
};
</script>

<style></style>
