<template>
  <main>
    <div class="text-h5 q-pa-lg">{{ title }}</div>
    <div class="row col-12 q-ma-md justify-between ">
      <div class="row col-12 q-px-md ">
        <q-input
          color="black"
          filled
          v-model="purchase.particulars"
          label="Enter particulars"
          class="q-mb-md col-6"
        />
      </div>
      <div class="row col-12 q-px-md justify-between">
        <div class="col-6 ">
          <q-select
            color="black"
            filled
            v-model="purchase.phone"
            label="Enter Phone number"
            class="q-mb-md col-6"
          />
        </div>
        <div class="flex col-2 justify-end">
          <q-input color="black" filled label="Date" />
        </div>
      </div>
      <div class="row col-12 q-pl-lg q-col-gutter-sm ">
        <div class="col-6 ">
          <q-input
            color="black"
            filled
            v-model="purchase.company"
            label="Enter company name"
            class="q-mb-md col-6 "
          />
        </div>
        <div class="col-6 ">
          <q-input
            color="black"
            v-model="purchase.name"
            filled
            label="Enter name"
          />
        </div>
      </div>

      <div class="row col-12 q-px-md ">
        <q-input
          color="black"
          filled
          v-model="purchase.address"
          label="Enter address"
          class="q-mb-md col-6"
        />
      </div>
      <div class="row col-12 q-px-md ">
        <q-input
          color="black"
          filled
          v-model="purchase.particulars2"
          label="Enter particulars"
          class="q-mb-md col-6"
        />
      </div>
    </div>
  </main>
</template>

<script>
export default {
  name: 'AddPurchaseForm',
  data() {
    return {
      purchase: {
        particulars: '',
        phone: '',
        company: '',
        address: '',
        name: '',
        particulars2: ''
      }
    };
  },
  props: {
    title: {
      type: String
    }
  }
};
</script>

<style></style>
