<template>
  <q-layout view='hHh Lpr fFf' class='bg-grey-3 '>
    <q-page-container class='window-height bg-white'>
      <ContainerHeader/>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script lang='ts'>
import NavLink from 'components/Common/NavLink.vue';

import Vue from 'vue';
import { MenuItem } from 'src/utils/models/interfaces/MenuItem';
import {mapState} from 'vuex';
export default Vue.extend({
  name: 'MainLayout',
  data() {
    return {
    };
  },
  computed: {
  },
  async created() {
  },
  methods: {}
});
</script>
